// SECU-3  - An open source, free engine control unit
//
// Resource file for Chart2D DLL unit.
// Created by Alexey A. Shabelnikov, UA, Kiev. http://secu-3.org

#include "resource.h"


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

stringtable
{
  IDS_EDITING_MAPS, "Редактирование карт"
  IDS_PM_ZERO_ALL_POINTS, "Обнулить все точки кривой"
  IDS_PM_SET_ALLTO_1ST_PT, "Размножить знач. 1-й точки"
  IDS_PM_BLD_CURVE_1ST_LAST_PT, "Постр. кривую исп. 1-ю и послед. точки"
  IDS_TT_SMOOTHING_3_POINTS, "Сглаживание по 3-м соседним точкам"
  IDS_TT_SMOOTHING_5_POINTS, "Сглаживание по 5-ти соседним точкам"
  IDS_TT_MOVE_FUNC_UP, "Сместить функцию вверх на 0.5"
  IDS_TT_MOVE_FUNC_DOWN, "Сместить функцию вниз на 0.5"
  IDS_TT_H_AXIS_BEGIN_VAL, "Значение определяющее начало горизонтальной оси"
  IDS_TT_H_AXIS_END_VAL, "Значение определяющее конец горизонтальной оси"
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

stringtable
{
  IDS_EDITING_MAPS, "Editing maps"
  IDS_PM_ZERO_ALL_POINTS, "Zero all curve points"
  IDS_PM_SET_ALLTO_1ST_PT, "Duplicate value of 1st point"
  IDS_PM_BLD_CURVE_1ST_LAST_PT, "Build curve using 1st and last points"
  IDS_TT_SMOOTHING_3_POINTS, "Smoothing uning 3 adjacent points"
  IDS_TT_SMOOTHING_5_POINTS, "Smoothing using 5 adjacent points"
  IDS_TT_MOVE_FUNC_UP, "Move function up by 0.5"
  IDS_TT_MOVE_FUNC_DOWN, "Move function down by 0.5"
  IDS_TT_H_AXIS_BEGIN_VAL, "This value defines beginning of the horizontal axis"
  IDS_TT_H_AXIS_END_VAL, "This value defines ending of the horizontal axis"
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,5,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "(c) Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
