#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP0001          BITMAP  DISCARDABLE     "res\\about0001.BMP"

/////////////////////////////////////////////////////////////////////////////
//
// RGN
//

IDR_RGN0001             RGN     DISCARDABLE     "res\\about0001.rgn"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SOFTWARE_INFO       "SECU-3 Manager v3.8. Build [%s]"
    IDS_AUTHOR_INFO         "            Created by Alexey A. Shabelnikov \r\n                     Ukraine, Gorlovka city\r\n\r\n\r\n    This software utility is a part of SECU-3 project.\r\nYou  can obtain  latest  version  and source  code\r\n at the following location: \r\n     https://github.com/ashabelnikov/secu3man\r\n\r\n                     http://secu-3.org\r\n            email: shabelnikov@secu-3.org\r\n"
END
