// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "resource.h"
#include "winres.h"


/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_WELCOME DIALOGEX 0, 0, 200, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Приветствуем Вас!"
FONT 8, "MS Sans Serif"
BEGIN

    CONTROL         "",IDC_BITMAP0002,"Static", SS_BITMAP | WS_VISIBLE, 10,10,132,32
    CONTROL         "",IDC_BITMAP0003,"Static", SS_BITMAP | WS_VISIBLE, 10,45,32,32
    CONTROL         "",IDC_BITMAP0004,"Static", SS_BITMAP | WS_VISIBLE, 10,80,32,32
    RTEXT           "http://secu-3.org",IDC_W_SECU3ORG_LINK,20,20,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    RTEXT           "http://vk.com/secu3club",IDC_W_VKG_LINK,20,50,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    RTEXT           "http://facebook.com/groups/secu3club/",IDC_W_FBG_LINK,20,85,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    CTEXT           "© 2007-2019 Alexey A. Shabelnikov, SECU-3.ORG", IDC_W_CR, 20,130,165,10, WS_VISIBLE
    DEFPUSHBUTTON   "OK",IDOK,80,110,50,14
END


/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_WELCOME DIALOGEX 0, 0, 200, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Welcome!"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_BITMAP0002,"Static", SS_BITMAP | WS_VISIBLE, 10,10,132,32
    CONTROL         "",IDC_BITMAP0003,"Static", SS_BITMAP | WS_VISIBLE, 10,45,32,32
    CONTROL         "",IDC_BITMAP0004,"Static", SS_BITMAP | WS_VISIBLE, 10,80,32,32
    RTEXT           "http://secu-3.org",IDC_W_SECU3ORG_LINK,20,20,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    RTEXT           "http://vk.com/secu3club",IDC_W_VKG_LINK,20,50,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    RTEXT           "http://facebook.com/groups/secu3club/",IDC_W_FBG_LINK,20,85,170,10,SS_CENTERIMAGE | WS_CLIPSIBLINGS
    CTEXT           "© 2007-2019 Alexey A. Shabelnikov, SECU-3.ORG", IDC_W_CR, 20,130,165,10, WS_VISIBLE
    DEFPUSHBUTTON   "OK",IDOK,80,110,50,14
END


/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP0001          BITMAP  DISCARDABLE     "res\\about0001.BMP"
IDB_BITMAP0002          BITMAP  DISCARDABLE     "res\\about0002.BMP"
IDB_BITMAP0003          BITMAP  DISCARDABLE     "res\\about0003.BMP"
IDB_BITMAP0004          BITMAP  DISCARDABLE     "res\\about0004.BMP"


/////////////////////////////////////////////////////////////////////////////
//
// RGN
//

IDR_RGN0001             RGN     DISCARDABLE     "res\\about0001.rgn"

/////////////////////////////////////////////////////////////////////////////
//
// CURSOR
//

IDC_CURSOR_HAND         CURSOR     "res\\hand.cur"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
 IDS_SOFTWARE_INFO       "SECU-3 Manager v%d.%d. Build [%s]"
 IDS_AUTHOR_INFO         "            Created by Alexey A. Shabelnikov \r\n             Ukraine, Kiev, Copyright © 2007-2019\r\n                   Free for personal use only.\r\n\r\n    This software utility is a part of SECU-3 project.\r\nYou  can obtain  latest  version  and source  code\r\n at the following location: \r\n     https://github.com/ashabelnikov/secu3man\r\n\r\n                     http://secu-3.org\r\n            email: shabelnikov@secu-3.org\r\n"
END

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,8,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2019 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
