// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MEAS_INSTRUMENT_DESK DIALOGEX 0, 0, 377, 191
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_MI_INDICATORS,"MultiLEDCtrl",WS_VISIBLE,1,174,279,18, WS_CLIPSIBLINGS
END

IDD_RAW_SENSORS_DESK DIALOG DISCARDABLE  187, 0, 284, 212
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_RS_MAP_VALUE,160,7,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Датчик абсолютного давления",IDC_RS_MAP_CAPTION,28,11,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_MAP_UNIT,236,12,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_UBAT_VALUE,160,33,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Напряжение бортовой сети",IDC_RS_UBAT_CAPTION,28,36,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_UBAT_UNIT,236,38,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_TEMP_VALUE,160,59,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Датчик температуры ОЖ",IDC_RS_TEMP_CAPTION,28,62,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_TEMP_UNIT,236,64,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_KNOCK_VALUE,160,85,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Уровень сигнала детонации",IDC_RS_KNOCK_CAPTION,28,88,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_KNOCK_UNIT,236,90,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_TPS_VALUE,160,111,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Датчик полож. дрос. заслонки",IDC_RS_TPS_CAPTION,28,114,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_TPS_UNIT,236,116,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I1_VALUE,160,137,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I1",IDC_RS_ADD_I1_CAPTION,28,140,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I1_UNIT,236,142,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I2_VALUE,160,163,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I2",IDC_RS_ADD_I2_CAPTION,28,166,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I2_UNIT,236,168,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I3_VALUE,160,189,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I3",IDC_RS_ADD_I3_CAPTION,28,192,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I3_UNIT,236,194,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I4_VALUE,160,215,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I4",IDC_RS_ADD_I4_CAPTION,28,218,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I4_UNIT,236,220,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I5_VALUE,160,241,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I5",IDC_RS_ADD_I5_CAPTION,28,244,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I5_UNIT,236,246,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I6_VALUE,160,267,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I6",IDC_RS_ADD_I6_CAPTION,28,270,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I6_UNIT,236,272,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I7_VALUE,160,293,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I7",IDC_RS_ADD_I7_CAPTION,28,296,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I7_UNIT,236,298,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I8_VALUE,160,319,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Вход  ADD_I8",IDC_RS_ADD_I8_CAPTION,28,322,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I8_UNIT,236,324,20,14, WS_CLIPSIBLINGS
END

IDD_DBGVAR_DESK DIALOGEX 0, 0, 175, 27
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_DV_VAR1_VALUE,3,11,40,13,SS_SUNKEN
    LTEXT           "var1:",IDC_DV_VAR1_CAPTION,7,1,17,9
    CONTROL         "dec",IDC_DV_BASE1_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,26,0,17,10
    CTEXT           "value",IDC_DV_VAR2_VALUE,46,11,40,13,SS_SUNKEN
    LTEXT           "var2:",IDC_DV_VAR2_CAPTION,49,1,17,9
    CONTROL         "dec",IDC_DV_BASE2_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,68,0,17,10
    CTEXT           "value",IDC_DV_VAR3_VALUE,89,11,40,13,SS_SUNKEN
    LTEXT           "var3:",IDC_DV_VAR3_CAPTION,92,1,17,9
    CONTROL         "dec",IDC_DV_BASE3_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,111,0,17,10
    CTEXT           "value",IDC_DV_VAR4_VALUE,132,11,40,13,SS_SUNKEN
    LTEXT           "var4:",IDC_DV_VAR4_CAPTION,135,1,17,9
    CONTROL         "dec",IDC_DV_BASE4_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,154,0,17,10
END

IDD_CE_ERRORS_DESK DIALOGEX 0, 0, 296, 18
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "CE",IDC_CE_DESK_CE,0,4,13,10
    CTEXT           "",IDC_CE_DESK_0,14,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_1,28,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_2,42,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_3,56,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_4,70,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_5,84,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_6,98,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_7,112,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_8,126,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_9,140,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_10,154,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_11,168,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_12,182,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_13,196,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_14,210,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_15,224,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_16,238,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_17,252,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_18,266,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_19,280,4,13,10,SS_SUNKEN | SS_NOTIFY
END

IDD_LOG_MARKS_DESK DIALOGEX 0, 0, 152, 22
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Метки лога:",IDC_LP_LOG_MARKS_DESK_CAPTION,25,0,120,10
    CTEXT           "",IDC_LOG_MARKS_K1,7,11,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K2,57,11,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K3,107,11,35,9,SS_SUNKEN
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CED_CKPS_MALFUNCTION_TT    "Сбои в работе ДПКВ - ошибки синхронизации"
    IDS_CED_EEPROM_PARAM_BROKEN_TT "Параметры в EEPROM повреждены (СRС)"
    IDS_CED_PROGRAM_CODE_BROKEN_TT "Код прошивки поврежден (СRС)"
    IDS_CED_KSP_CHIP_FAILED_TT     "Процессор детонации не отвечает"
    IDS_CED_KNOCK_DETECTED_TT      "Обнаруживалась детонация"
    IDS_CED_MAP_SENSOR_FAIL_TT     "Поломка или неправильная работа ДАД"
    IDS_CED_TEMP_SENSOR_FAIL_TT    "Поломка или неправильная работа ДТОЖ"
    IDS_CED_VOLT_SENSOR_FAIL_TT    "Ненормальное напряжение бортовой сети"
    IDS_CED_DWELL_CONTROL_TT       "Управление временем накопления энергии КЗ"
    IDS_CED_CAMS_MALFUNCTION_TT    "Поломка или неправильная работа ДФ"
    IDS_CED_TPS_SENSOR_FAIL_TT     "Поломка или неправильные показания ДПДЗ"
    IDS_CED_ADD_I1_SENSOR_TT       "Неисправность датчика на входе ADD_I1 "
    IDS_CED_ADD_I2_SENSOR_TT       "Неисправность датчика на входе ADD_I2"
    IDS_CED_ADD_I3_SENSOR_TT       "Неисправность датчика на входе ADD_I3"
    IDS_CED_ADD_I4_SENSOR_TT       "Неисправность датчика на входе ADD_I4"
    IDS_CED_ADD_I5_SENSOR_TT       "Неисправность датчика на входе ADD_I5"
    IDS_CED_ADD_I6_SENSOR_TT       "Неисправность датчика на входе ADD_I6"
    IDS_CED_ADD_I7_SENSOR_TT       "Неисправность датчика на входе ADD_I7"
    IDS_CED_ADD_I8_SENSOR_TT       "Неисправность датчика на входе ADD_I8"
    IDS_CED_SYS_START_TT           "Старт прошивки (перезапуск процессора)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_VOLTAGE_TITLE    "Напряжение"
    IDS_MI_VOLTAGE_UNIT     "Вольт"
    IDS_MI_TEMPERATURE_TITLE "Температура ДТОЖ"
    IDS_CE_ERRORS_DESK_TT   "Коды ошибок CE"
    IDS_MI_ADD_I1_TITLE     "Вход 1"
    IDS_MI_ADD_I2_TITLE     "Вход 2"
    IDS_MI_ADD_I1_TT        "Напряжение на входе ADD_IO1"
    IDS_MI_ADD_I2_TT        "Напряжение на входе ADD_IO2"
    IDS_LOG_MARKS_DESK_TT   "Пользовательские маркеры в логе"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_TEMPERATURE_UNIT "°C"
    IDS_MI_TACHOMETER_TITLE "Обороты"
    IDS_MI_TACHOMETER_UNIT  "мин-1"
    IDS_MI_PRESSURE_TITLE   "Абсолютное давление"
    IDS_MI_PRESSURE_UNIT    "кПа"
    IDS_MI_ADVANGLE_TITLE   "Угол опережения"
    IDS_MI_ADVANGLE_UNIT    "град."
    IDS_MI_KM               "км"
    IDS_MI_MI               "ми"
    IDS_MI_KM_H             "км/ч"
    IDS_MI_MP_H             "ми/ч"
    IDS_MI_TPS_FMT_STR      "ДПДЗ  %0.1f%%"
    IDS_MI_INJ_PW_TITLE     "Длительн. впрыска"
    IDS_MI_MS_UNIT          "мс"
    IDS_MI_IAT_TITLE        "Температура ДТВ"
    IDS_MI_EGO_CORR_TITLE   "Лямбда коррекция"
    IDS_MI_PERCENT_UNIT     "%"
    IDS_MI_THROTTLE_GATE_TITLE "Дроссельная заслонка"
    IDS_MI_AIR_FLOW_TITLE   "Расход воздуха"
    IDS_MI_AIR_FLOW_UNIT    "N кривой"
    IDS_MI_VSS_TITLE        "Скорость авто"
    IDS_MI_TPSDOT_TITLE     "Cкорость ДЗ"
    IDS_MI_TPSDOT_UNIT      "%/сек"
    IDS_MI_MAP2_TITLE       "ДАД2"
    IDS_MI_MAPD_TITLE       "Дифф.давление"
    IDS_MI_TMP2_TITLE       "ДТВ2"
    IDS_MI_GRTS_TITLE       "ДТГР"
    IDS_MI_FUELCONSUM_TITLE "Расход топлива"
    IDS_MI_FUELCONSUM_UNIT  "Л/100км"
    IDS_MI_FUELCONSUMH_UNIT "Л/час"
    IDS_MI_KNOCKRETARD_TITLE "Корр. УОЗ от ДД"
    IDS_MI_SENSAFR_TITLE     "Воздух/топливо ШДК"
    IDS_MI_SENSAFR_UNIT      "в/т"
    IDS_MI_CHOKEPOS_TITLE    "ВЗ/РДВ"
    IDS_MI_GDPOS_TITLE       "Дозатор газа"
    IDS_MI_LOAD_TITLE        "Синтет. нагрузка"
    IDS_MI_KNOCK_TITLE       "Сигнал детонации"
    IDS_MI_INJTIMB_TITLE     "Фаза нач. впрыска"
    IDS_MI_INJTIME_TITLE     "Фаза конца впрыска"
    IDS_MI_FUELCONSUMF_TITLE "Расход топлива (Гц)"
    IDS_MI_FUELCONSUMF_UNIT  "Гц"
    IDS_MI_FTLS_TITLE        "Уровень топлива"
    IDS_MI_EGTS_TITLE        "Темп.выхл.газов"
    IDS_MI_OPS_TITLE         "Давление масла"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_KNOCKGRAPH_H_UNIT "Выборки"
    IDS_MI_TACHOMETER_V_UNIT "Обороты,мин-1"
    IDS_MI_KNOCKGRAPH_V_UNIT "Детонация,В"
    IDS_MI_PRESSURE_V_UNIT   "ДАД,кПа"
    IDS_MI_DWELLANGLE_V_UNIT "УОЗ,°КВ"
    IDS_MI_THROTTLEGATE_V_UNIT "ДПДЗ,%"
    IDS_MI_VOLTMETER_V_UNIT  "Напряжение,В"
    IDS_MI_ADD_I1_V_UNIT     "ADD_I1,В"
    IDS_MI_ADD_I2_V_UNIT     "ADD_I2,В"
    IDS_MI_INJTIMBGRAPH_V_UNIT "Фаз.нач,°КВ"
    IDS_MI_INJTIMEGRAPH_V_UNIT "Фаз.кон,°КВ"
    IDS_MI_IATGRAPH_V_UNIT    "ДТВ,°C"
    IDS_MI_AIR_FLOWGRAPH_V_UNIT "Расх.возд."
    IDS_MI_INJ_PW_V_UNIT      "Длит.впр,мс"
    IDS_MI_CHOKEPOSGRAPH_V_UNIT "ВЗ,%"
    IDS_MI_GDPOSGRAPH_V_UNIT    "ГД,%"
    IDS_MI_EGO_CORRGRAPH_V_UNIT "Лямбда,%"
    IDS_MI_TEMPERATUREGRAPH_V_UNIT "ДТОЖ,°C"
    IDS_MI_LOADGRAPH_V_UNIT  "Нагрузка"
    IDS_MI_SENSAFRGRAPH_V_UNIT "Возд/топл"
    IDS_MI_FUELCONSUMGRAPH_V_UNIT "Л/100км"
    IDS_MI_KNOCKRETARDGRAPH_V_UNIT "Дет.корр,°КВ"
    IDS_MI_MAP2GRAPH_V_UNIT   "ДАД2,кПа"
    IDS_MI_MAPDGRAPH_V_UNIT   "Дифф.дав,кПа"
    IDS_MI_TMP2GRAPH_V_UNIT   "ДТВ2,°C"
    IDS_MI_GRTSGRAPH_V_UNIT   "ДТГР,°C"
    IDS_MI_VSSGRAPH_V_UNIT    "км/ч"
    IDS_MI_TPSDOTGRAPH_V_UNIT "Скор.ДЗ,%/сек"
    IDS_MI_FUELCONSUMFGRAPH_V_UNIT "Расход топл,Гц"
    IDS_MI_FTLS_UNIT          "Л"
    IDS_MI_OPS_UNIT           "кг/см2"
    IDS_MI_FTLSGRAPH_V_UNIT   "Уровень топл,Л"
    IDS_MI_OPSGRAPH_V_UNIT    "Масло,кг/см2"
    IDS_MI_EGTSGRAPH_V_UNIT   "Темп.выхлопа,°C"
END                                        

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_IND_GAS_V        "Газовый клапан"
    IDS_MI_IND_CARB         "Дроссель"
    IDS_MI_IND_IDLEVALVE    "Топливо при ПХХ"
    IDS_MI_IND_POWERVALVE   "Клапан ЭМР"
    IDS_MI_IND_STBLOCK      "Блокир.стартера"
    IDS_MI_IND_AE           "Обогащ.при ускор."
    IDS_MI_IND_COOLINGFAN   "Вентилятор"
    IDS_MI_IND_CE           "Check Engine"
    IDS_MI_IND_FCREVLIM     "Отсеч.топл.по обор."
    IDS_MI_IND_FLOODCLEAR   "Продувка двигателя"
    IDS_MI_IND_SYSLOCKED    "Система заблокир."
    IDS_MI_IND_IGN_I        "Вход IGN_I"
    IDS_MI_IND_COND_I       "Вход COND_I"
    IDS_MI_IND_EPAS_I       "вход EPAS_I"
END


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_MET_ADD_GAUGE     "Добавить прибор"
    IDS_MI_GRH_ADD_GAUGE     "Добавить график"
    IDS_MI_MET_NUMROWS       "Число строк"
    IDS_MI_MET_TITLE_FONT    "Шрифт заголовков"
    IDS_MI_MET_VALUE_FONT    "Шрифт значений"
    IDS_MI_MET_PANE_FONT     "Шрифт углов. знач."
    IDS_MI_MET_LABEL_FONT    "Шрифт надписей"
    IDS_MI_MET_DEL_GAUGE     "Удалить"
    IDS_MI_MET_ENDRAGNDROP   "Разрешить перетаскивание"
    IDS_MI_IND_ADD_INDICATOR "Добавить"
    IDS_MI_IND_DEL_INDICATOR "Удалить"
    IDS_MI_IND_NUMROWS       "Число строк"
    IDS_MI_IND_SET_COLOR     "Цвет"
    IDS_MI_IND_PERCHEIGHT    "Высота"
    IDS_MI_IND_ENDRAGNDROP   "Разрешить перетаскивание"
END


/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MEAS_INSTRUMENT_DESK DIALOGEX 0, 0, 377, 191
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_MI_INDICATORS,"MultiLEDCtrl",WS_VISIBLE,1,174,279,18, WS_CLIPSIBLINGS
END

IDD_RAW_SENSORS_DESK DIALOG DISCARDABLE  0, 0, 284, 195
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_CLIPCHILDREN
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_RS_MAP_VALUE,160,7,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "MAP sensor",IDC_RS_MAP_CAPTION,28,11,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_MAP_UNIT,236,12,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_UBAT_VALUE,160,33,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Voltage",IDC_RS_UBAT_CAPTION,28,36,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_UBAT_UNIT,236,38,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_TEMP_VALUE,160,59,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Coolant sensor",IDC_RS_TEMP_CAPTION,28,62,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_TEMP_UNIT,236,64,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_KNOCK_VALUE,160,85,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Knock signal level",IDC_RS_KNOCK_CAPTION,28,88,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_KNOCK_UNIT,236,90,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_TPS_VALUE,160,111,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "Throttle position sensor",IDC_RS_TPS_CAPTION,28,114,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_TPS_UNIT,236,116,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I1_VALUE,160,137,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_IO1  Input",IDC_RS_ADD_I1_CAPTION,28,140,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_ADD_I1_UNIT,236,142,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I2_VALUE,160,163,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_IO2  Input",IDC_RS_ADD_I2_CAPTION,28,166,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_ADD_I2_UNIT,236,168,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I3_VALUE,160,189,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I3 Input",IDC_RS_ADD_I3_CAPTION,28,192,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_ADD_I3_UNIT,236,194,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I4_VALUE,160,215,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I4 input",IDC_RS_ADD_I4_CAPTION,28,218,118,13, WS_CLIPSIBLINGS
    LTEXT           "V",IDC_RS_ADD_I4_UNIT,236,220,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I5_VALUE,160,241,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I5 input",IDC_RS_ADD_I5_CAPTION,28,244,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I5_UNIT,236,246,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I6_VALUE,160,267,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I6 input",IDC_RS_ADD_I6_CAPTION,28,270,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I6_UNIT,236,272,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I7_VALUE,160,293,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I7 input",IDC_RS_ADD_I7_CAPTION,28,296,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I7_UNIT,236,298,20,14, WS_CLIPSIBLINGS
    CTEXT           "value",IDC_RS_ADD_I8_VALUE,160,319,70,19,SS_SUNKEN | WS_CLIPSIBLINGS
    LTEXT           "ADD_I8 input",IDC_RS_ADD_I8_CAPTION,28,322,118,13, WS_CLIPSIBLINGS
    LTEXT           "B",IDC_RS_ADD_I8_UNIT,236,324,20,14, WS_CLIPSIBLINGS
END

IDD_DBGVAR_DESK DIALOGEX 0, 0, 175, 27
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_DV_VAR1_VALUE,3,11,40,13,SS_SUNKEN
    LTEXT           "var1:",IDC_DV_VAR1_CAPTION,7,1,17,9
    CONTROL         "dec",IDC_DV_BASE1_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,26,0,17,10
    CTEXT           "value",IDC_DV_VAR2_VALUE,46,11,40,13,SS_SUNKEN
    LTEXT           "var2:",IDC_DV_VAR2_CAPTION,49,1,17,9
    CONTROL         "dec",IDC_DV_BASE2_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,68,0,17,10
    CTEXT           "value",IDC_DV_VAR3_VALUE,89,11,40,13,SS_SUNKEN
    LTEXT           "var3:",IDC_DV_VAR3_CAPTION,92,1,17,9
    CONTROL         "dec",IDC_DV_BASE3_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,111,0,17,10
    CTEXT           "value",IDC_DV_VAR4_VALUE,132,11,40,13,SS_SUNKEN
    LTEXT           "var4:",IDC_DV_VAR4_CAPTION,135,1,17,9
    CONTROL         "dec",IDC_DV_BASE4_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,154,0,17,10
END

IDD_CE_ERRORS_DESK DIALOGEX 0, 0, 296, 18
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "CE",IDC_CE_DESK_CE,0,4,13,10
    CTEXT           "",IDC_CE_DESK_0,14,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_1,28,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_2,42,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_3,56,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_4,70,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_5,84,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_6,98,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_7,112,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_8,126,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_9,140,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_10,154,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_11,168,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_12,182,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_13,196,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_14,210,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_15,224,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_16,238,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_17,252,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_18,266,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_19,280,4,13,10,SS_SUNKEN | SS_NOTIFY
END

IDD_LOG_MARKS_DESK DIALOGEX 0, 0, 152, 22
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Log's marks:",IDC_LP_LOG_MARKS_DESK_CAPTION,25,0,120,10
    CTEXT           "",IDC_LOG_MARKS_K1,7,11,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K2,57,11,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K3,107,11,35,9,SS_SUNKEN
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CED_CKPS_MALFUNCTION_TT    "Failures in working of CKP sensor - synchronization errors"
    IDS_CED_EEPROM_PARAM_BROKEN_TT "EEPROM parameters is damaged (CRC)"
    IDS_CED_PROGRAM_CODE_BROKEN_TT "Firmware code is damaged (CRC)"
    IDS_CED_KSP_CHIP_FAILED_TT     "Knock chip doesn't respond"
    IDS_CED_KNOCK_DETECTED_TT      "Detonation detected"
    IDS_CED_MAP_SENSOR_FAIL_TT     "Breakage or wrong work of MAP sensor"
    IDS_CED_TEMP_SENSOR_FAIL_TT    "Breakage or wrong work of coolant temperature sensor"
    IDS_CED_VOLT_SENSOR_FAIL_TT    "Abnormal board voltage"
    IDS_CED_DWELL_CONTROL_TT       "Dwell control"
    IDS_CED_CAMS_MALFUNCTION_TT    "Breakage or wrong work of cam sensor"
    IDS_CED_TPS_SENSOR_FAIL_TT     "Breakage or wrong indication of TPS"
    IDS_CED_ADD_I1_SENSOR_TT       "ADD_I1 input's sensor failure"
    IDS_CED_ADD_I2_SENSOR_TT       "ADD_I2 input's sensor failure"
    IDS_CED_ADD_I3_SENSOR_TT       "ADD_I3 input's sensor failure"
    IDS_CED_ADD_I4_SENSOR_TT       "ADD_I4 input's sensor failure"
    IDS_CED_ADD_I5_SENSOR_TT       "ADD_I5 input's sensor failure"
    IDS_CED_ADD_I6_SENSOR_TT       "ADD_I6 input's sensor failure"
    IDS_CED_ADD_I7_SENSOR_TT       "ADD_I7 input's sensor failure"
    IDS_CED_ADD_I8_SENSOR_TT       "ADD_I8 input's sensor failure"
    IDS_CED_SYS_START_TT           "Firmware start (reset of processor)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_VOLTAGE_TITLE    "Voltage"
    IDS_MI_VOLTAGE_UNIT     "Volt"
    IDS_MI_TEMPERATURE_TITLE "Coolant temperature"
    IDS_CE_ERRORS_DESK_TT   "CE error codes"
    IDS_MI_ADD_I1_TITLE     "Input 1"
    IDS_MI_ADD_I2_TITLE     "Input 2"
    IDS_MI_ADD_I1_TT        "Voltage at the ADD_IO1 input"
    IDS_MI_ADD_I2_TT        "Voltage at the ADD_IO2 input"
    IDS_LOG_MARKS_DESK_TT   "User's markers in the log"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_TEMPERATURE_UNIT "°C"
    IDS_MI_TACHOMETER_TITLE "Speed"
    IDS_MI_TACHOMETER_UNIT  "min-1"
    IDS_MI_PRESSURE_TITLE   "Absolute pressure"
    IDS_MI_PRESSURE_UNIT    "kPa"
    IDS_MI_ADVANGLE_TITLE   "Advance angle"
    IDS_MI_ADVANGLE_UNIT    "degr."
    IDS_MI_KM               "km"
    IDS_MI_MI               "mi"
    IDS_MI_KM_H             "km/h"
    IDS_MI_MP_H             "MPH"
    IDS_MI_TPS_FMT_STR      "TPS  %0.1f%%"
    IDS_MI_INJ_PW_TITLE     "Injection PW"
    IDS_MI_MS_UNIT          "ms"
    IDS_MI_IAT_TITLE        "Intake air temperature"
    IDS_MI_EGO_CORR_TITLE   "EGO correction"
    IDS_MI_PERCENT_UNIT     "%"
    IDS_MI_THROTTLE_GATE_TITLE "Throttle gate"
    IDS_MI_AIR_FLOW_TITLE   "Air flow"
    IDS_MI_AIR_FLOW_UNIT    "Curve N"
    IDS_MI_VSS_TITLE        "Vehicle speed"
    IDS_MI_TPSDOT_TITLE     "TPS dot"
    IDS_MI_TPSDOT_UNIT      "%/sec"
    IDS_MI_MAP2_TITLE       "MAP2"
    IDS_MI_MAPD_TITLE       "Diff.Pressure"
    IDS_MI_TMP2_TITLE       "IAT2"
    IDS_MI_GRTS_TITLE       "GRTS"
    IDS_MI_FUELCONSUM_TITLE "Fuel consumption"
    IDS_MI_FUELCONSUM_UNIT  "L/100km"
    IDS_MI_FUELCONSUMH_UNIT "L/h"
    IDS_MI_KNOCKRETARD_TITLE "Knock retard"
    IDS_MI_SENSAFR_TITLE     "WBO AFR"
    IDS_MI_SENSAFR_UNIT      "a/f"
    IDS_MI_CHOKEPOS_TITLE    "IAC valve"
    IDS_MI_GDPOS_TITLE       "Gas dispenser"
    IDS_MI_LOAD_TITLE        "Synthetic load"
    IDS_MI_KNOCK_TITLE       "Knock signal"
    IDS_MI_INJTIMB_TITLE     "Begin inj. phase"
    IDS_MI_INJTIME_TITLE     "End inj. phase"
    IDS_MI_FUELCONSUMF_TITLE "Fuel consumption (Hz)"
    IDS_MI_FUELCONSUMF_UNIT  "Hz"
    IDS_MI_FTLS_TITLE        "Fuel level"
    IDS_MI_EGTS_TITLE        "Exhaust gas temp."
    IDS_MI_OPS_TITLE         "Oil pressure"
    IDS_MI_FTLS_UNIT         "L"
    IDS_MI_OPS_UNIT          "kg/cm2"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_KNOCKGRAPH_H_UNIT "Samples"
    IDS_MI_TACHOMETER_V_UNIT "RPM,min-1"
    IDS_MI_KNOCKGRAPH_V_UNIT "Knock,V"
    IDS_MI_PRESSURE_V_UNIT   "MAP,kPa"
    IDS_MI_DWELLANGLE_V_UNIT "Ign.tim,°CS"
    IDS_MI_THROTTLEGATE_V_UNIT "TPS,%"
    IDS_MI_VOLTMETER_V_UNIT  "Voltage,V"
    IDS_MI_ADD_I1_V_UNIT     "ADD_I1,V"
    IDS_MI_ADD_I2_V_UNIT     "ADD_I2,V"
    IDS_MI_INJTIMBGRAPH_V_UNIT "Beg.inj,°CS"
    IDS_MI_INJTIMEGRAPH_V_UNIT "End.inj,°CS"
    IDS_MI_IATGRAPH_V_UNIT    "IAT,°C"
    IDS_MI_AIR_FLOWGRAPH_V_UNIT "Air flow"
    IDS_MI_INJ_PW_V_UNIT      "Inj.PW,ms"
    IDS_MI_CHOKEPOSGRAPH_V_UNIT "Choke,%"
    IDS_MI_GDPOSGRAPH_V_UNIT    "Gas dis,%"
    IDS_MI_EGO_CORRGRAPH_V_UNIT "EGO corr,%"
    IDS_MI_TEMPERATUREGRAPH_V_UNIT "CLT,°C"
    IDS_MI_LOADGRAPH_V_UNIT  "Load"
    IDS_MI_SENSAFRGRAPH_V_UNIT "AFR"
    IDS_MI_FUELCONSUMGRAPH_V_UNIT "L/100km"
    IDS_MI_KNOCKRETARDGRAPH_V_UNIT "Kn.retard,°CS"
    IDS_MI_MAP2GRAPH_V_UNIT   "MAP2,kPa"
    IDS_MI_MAPDGRAPH_V_UNIT   "Diff.pres,kPa"
    IDS_MI_TMP2GRAPH_V_UNIT   "IAT2,°C"
    IDS_MI_GRTSGRAPH_V_UNIT   "GRTS,°C"
    IDS_MI_VSSGRAPH_V_UNIT    "км/ч"
    IDS_MI_TPSDOTGRAPH_V_UNIT "TPSdot,%/sec"
    IDS_MI_FUELCONSUMFGRAPH_V_UNIT "Fuel consum,Hz"
    IDS_MI_FTLSGRAPH_V_UNIT   "Fuel level,L"
    IDS_MI_OPSGRAPH_V_UNIT    "Oil pres,kg/cm2"
    IDS_MI_EGTSGRAPH_V_UNIT   "Exhaust gas,°C"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_IND_GAS_V        "Gas valve"
    IDS_MI_IND_CARB         "Throttle"
    IDS_MI_IND_IDLEVALVE    "FI fuel"
    IDS_MI_IND_POWERVALVE   "Power valve"
    IDS_MI_IND_STBLOCK      "Starter blocking"
    IDS_MI_IND_AE           "AE"
    IDS_MI_IND_COOLINGFAN   "Cooling fan"
    IDS_MI_IND_CE           "Check Engine"
    IDS_MI_IND_FCREVLIM     "Rev.lim.fuel cut"
    IDS_MI_IND_FLOODCLEAR   "Flood clear mode"
    IDS_MI_IND_SYSLOCKED    "System locked"
    IDS_MI_IND_IGN_I        "IGN_I input"
    IDS_MI_IND_COND_I       "COND_I input"
    IDS_MI_IND_EPAS_I       "EPAS_I input"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_MET_ADD_GAUGE     "Add gauge"
    IDS_MI_GRH_ADD_GAUGE     "Add graph"
    IDS_MI_MET_NUMROWS       "Number of rows"
    IDS_MI_MET_TITLE_FONT    "Font of titles"
    IDS_MI_MET_VALUE_FONT    "Font of values"
    IDS_MI_MET_PANE_FONT     "Font of corn.panes"
    IDS_MI_MET_LABEL_FONT    "Font of lables"
    IDS_MI_MET_DEL_GAUGE     "Delete"
    IDS_MI_MET_ENDRAGNDROP   "Enable drag and drop"
    IDS_MI_IND_ADD_INDICATOR "Add indicator"
    IDS_MI_IND_DEL_INDICATOR "Delete"
    IDS_MI_IND_NUMROWS       "Number of rows"
    IDS_MI_IND_SET_COLOR     "Set color"
    IDS_MI_IND_PERCHEIGHT    "Height"
    IDS_MI_IND_ENDRAGNDROP   "Enable drag and drop"
END

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

IDC_CURSOR_HAND_MOVE    CURSOR     "move.cur"

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2021 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
