// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MEAS_INSTRUMENT_DESK DIALOGEX 0, 0, 377, 191
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_MI_INDICATORS,"MultiLEDCtrl",WS_VISIBLE,1,174,279,18
END

IDD_RAW_SENSORS_DESK DIALOG DISCARDABLE  187, 0, 284, 212
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_RS_MAP_VALUE,160,7,70,19,SS_SUNKEN
    LTEXT           "Датчик абсолютного давления",IDC_RS_MAP_CAPTION,28,11,118,13
    LTEXT           "B",IDC_RS_MAP_UNIT,236,12,20,14
    CTEXT           "value",IDC_RS_UBAT_VALUE,160,33,70,19,SS_SUNKEN
    LTEXT           "Напряжение бортовой сети",IDC_RS_UBAT_CAPTION,28,36,118,13
    LTEXT           "B",IDC_RS_UBAT_UNIT,236,38,20,14
    CTEXT           "value",IDC_RS_TEMP_VALUE,160,59,70,19,SS_SUNKEN
    LTEXT           "Датчик температуры ОЖ",IDC_RS_TEMP_CAPTION,28,62,118,13
    LTEXT           "B",IDC_RS_TEMP_UNIT,236,64,20,14
    CTEXT           "value",IDC_RS_KNOCK_VALUE,160,85,70,19,SS_SUNKEN
    LTEXT           "Уровень сигнала детонации",IDC_RS_KNOCK_CAPTION,28,88,118,13
    LTEXT           "B",IDC_RS_KNOCK_UNIT,236,90,20,14
    CTEXT           "value",IDC_RS_TPS_VALUE,160,111,70,19,SS_SUNKEN
    LTEXT           "Датчик полож. дрос. заслонки",IDC_RS_TPS_CAPTION,28,114,118,13
    LTEXT           "B",IDC_RS_TPS_UNIT,236,116,20,14
    CTEXT           "value",IDC_RS_ADD_I1_VALUE,160,137,70,19,SS_SUNKEN
    LTEXT           "Вход  ADD_I1",IDC_RS_ADD_I1_CAPTION,28,140,118,13
    LTEXT           "B",IDC_RS_ADD_I1_UNIT,236,142,20,14
    CTEXT           "value",IDC_RS_ADD_I2_VALUE,160,163,70,19,SS_SUNKEN
    LTEXT           "Вход  ADD_I2",IDC_RS_ADD_I2_CAPTION,28,166,118,13
    LTEXT           "B",IDC_RS_ADD_I2_UNIT,236,168,20,14
    CTEXT           "value",IDC_RS_ADD_I3_VALUE,160,189,70,19,SS_SUNKEN
    LTEXT           "Вход  ADD_I3",IDC_RS_ADD_I3_CAPTION,28,192,118,13
    LTEXT           "B",IDC_RS_ADD_I3_UNIT,236,194,20,14
    CTEXT           "value",IDC_RS_ADD_I4_VALUE,160,215,70,19,SS_SUNKEN
    LTEXT           "Вход  ADD_I4",IDC_RS_ADD_I4_CAPTION,28,218,118,13
    LTEXT           "B",IDC_RS_ADD_I4_UNIT,236,220,20,14
END

IDD_DBGVAR_DESK DIALOGEX 0, 0, 175, 27
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_DV_VAR1_VALUE,3,11,40,13,SS_SUNKEN
    LTEXT           "var1:",IDC_DV_VAR1_CAPTION,7,1,17,9
    CONTROL         "dec",IDC_DV_BASE1_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,26,0,17,10
    CTEXT           "value",IDC_DV_VAR2_VALUE,46,11,40,13,SS_SUNKEN
    LTEXT           "var2:",IDC_DV_VAR2_CAPTION,49,1,17,9
    CONTROL         "dec",IDC_DV_BASE2_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,68,0,17,10
    CTEXT           "value",IDC_DV_VAR3_VALUE,89,11,40,13,SS_SUNKEN
    LTEXT           "var3:",IDC_DV_VAR3_CAPTION,92,1,17,9
    CONTROL         "dec",IDC_DV_BASE3_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,111,0,17,10
    CTEXT           "value",IDC_DV_VAR4_VALUE,132,11,40,13,SS_SUNKEN
    LTEXT           "var4:",IDC_DV_VAR4_CAPTION,135,1,17,9
    CONTROL         "dec",IDC_DV_BASE4_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,154,0,17,10
END

IDD_CE_ERRORS_DESK DIALOGEX 0, 0, 284, 18
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "CE",IDC_CE_DESK_CE,10,4,13,10
    CTEXT           "",IDC_CE_DESK_0,30,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_1,44,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_2,58,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_3,72,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_4,86,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_5,100,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_6,114,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_7,128,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_8,142,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_9,156,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_10,170,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_11,184,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_12,198,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_13,212,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_14,226,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_15,240,4,13,10,SS_SUNKEN | SS_NOTIFY
END

IDD_LOG_MARKS_DESK DIALOGEX 0, 0, 152, 11
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "",IDC_LOG_MARKS_K1,7,1,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K2,57,1,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K3,107,1,35,9,SS_SUNKEN
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CED_CKPS_MALFUNCTION_TT    "Сбои в работе ДПКВ - ошибки синхронизации"
    IDS_CED_EEPROM_PARAM_BROKEN_TT "Параметры в EEPROM повреждены (СRС)"
    IDS_CED_PROGRAM_CODE_BROKEN_TT "Код прошивки поврежден (СRС)"
    IDS_CED_KSP_CHIP_FAILED_TT     "Процессор детонации не отвечает"
    IDS_CED_KNOCK_DETECTED_TT      "Обнаруживалась детонация"
    IDS_CED_MAP_SENSOR_FAIL_TT     "Поломка или неправильная работа ДАД"
    IDS_CED_TEMP_SENSOR_FAIL_TT    "Поломка или неправильная работа ДТОЖ"
    IDS_CED_VOLT_SENSOR_FAIL_TT    "Ненормальное напряжение бортовой сети"
    IDS_CED_DWELL_CONTROL_TT       "Управление временем накопления энергии КЗ"
    IDS_CED_CAMS_MALFUNCTION_TT    "Поломка или неправильная работа ДФ"
    IDS_CED_TPS_SENSOR_FAIL_TT     "Поломка или неправильные показания ДПДЗ"
    IDS_CED_ADD_I1_SENSOR_TT       "Неисправность датчика на входе ADD_I1 "
    IDS_CED_ADD_I2_SENSOR_TT       "Неисправность датчика на входе ADD_I2"
    IDS_CED_ADD_I3_SENSOR_TT       "Неисправность датчика на входе ADD_I3"
    IDS_CED_ADD_I4_SENSOR_TT       "Неисправность датчика на входе ADD_I4"
    IDS_CED_SYS_START_TT           "Старт прошивки (перезапуск процессора)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_VOLTAGE_TITLE    "Напряжение"
    IDS_MI_VOLTAGE_UNIT     "Вольт"
    IDS_MI_TEMPERATURE_TITLE "Температура ДТОЖ"
    IDS_CE_ERRORS_DESK_TT   "Коды ошибок CE"
    IDS_MI_ADD_I1_TITLE     "Вход 1"
    IDS_MI_ADD_I2_TITLE     "Вход 2"
    IDS_MI_ADD_I1_TT        "Напряжение на входе ADD_IO1"
    IDS_MI_ADD_I2_TT        "Напряжение на входе ADD_IO2"
    IDS_LOG_MARKS_DESK_TT   "Пользовательские маркеры в логе"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_TEMPERATURE_UNIT "°C"
    IDS_MI_TACHOMETER_TITLE "Обороты"
    IDS_MI_TACHOMETER_UNIT  "мин-1"
    IDS_MI_PRESSURE_TITLE   "Абсолютное давление"
    IDS_MI_PRESSURE_UNIT    "кПа"
    IDS_MI_ADVANGLE_TITLE   "Угол опережения"
    IDS_MI_ADVANGLE_UNIT    "град."
    IDS_MI_KM               "км"
    IDS_MI_MI               "ми"
    IDS_MI_KM_H             "км/ч"
    IDS_MI_MP_H             "ми/ч"
    IDS_MI_TPS_FMT_STR      "ДПДЗ  %0.1f%%"
    IDS_MI_INJ_PW_TITLE     "Длительн. впрыска"
    IDS_MI_MS_UNIT          "мс"
    IDS_MI_IAT_TITLE        "Температура ДТВ"
    IDS_MI_EGO_CORR_TITLE   "Лямбда коррекция"
    IDS_MI_PERCENT_UNIT     "%"
    IDS_MI_THROTTLE_GATE_TITLE "Дроссельная заслонка"
    IDS_MI_AIR_FLOW_TITLE   "Расход воздуха"
    IDS_MI_AIR_FLOW_UNIT    "N кривой"
    IDS_MI_VSS_TITLE        "Скорость авто"
    IDS_MI_TPSDOT_TITLE     "Cкорость ДЗ"
    IDS_MI_TPSDOT_UNIT      "%/сек"
    IDS_MI_MAP2_TITLE       "ДАД2"
    IDS_MI_MAPD_TITLE       "Дифф.давление"
    IDS_MI_TMP2_TITLE       "ДТВ2"
    IDS_MI_FUELCONSUM_TITLE "Расход топлива"
    IDS_MI_FUELCONSUM_UNIT  "Л/100км"
    IDS_MI_KNOCKRETARD_TITLE "Корр. УОЗ от ДД"
    IDS_MI_KNOCKGRAPH_V_UNIT "В"
    IDS_MI_KNOCKGRAPH_H_UNIT "Выборки"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_IND_GAS_V        "Газовый клапан"
    IDS_MI_IND_CARB         "Дроссель"
    IDS_MI_IND_IDLEVALVE    "Топливо при ПХХ"
    IDS_MI_IND_POWERVALVE   "Клапан ЭМР"
    IDS_MI_IND_STBLOCK      "Блокир.стартера"
    IDS_MI_IND_AE           "Обогащ.при ускор."
    IDS_MI_IND_COOLINGFAN   "Вентилятор"
END

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MEAS_INSTRUMENT_DESK DIALOGEX 0, 0, 377, 191
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_MI_INDICATORS,"MultiLEDCtrl",WS_VISIBLE,1,174,279,18
END

IDD_RAW_SENSORS_DESK DIALOG DISCARDABLE  0, 0, 284, 195
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_RS_MAP_VALUE,160,7,70,19,SS_SUNKEN
    LTEXT           "MAP sensor",IDC_RS_MAP_CAPTION,28,11,118,13
    LTEXT           "V",IDC_RS_MAP_UNIT,236,12,20,14
    CTEXT           "value",IDC_RS_UBAT_VALUE,160,33,70,19,SS_SUNKEN
    LTEXT           "Voltage",IDC_RS_UBAT_CAPTION,28,36,118,13
    LTEXT           "V",IDC_RS_UBAT_UNIT,236,38,20,14
    CTEXT           "value",IDC_RS_TEMP_VALUE,160,59,70,19,SS_SUNKEN
    LTEXT           "Coolant sensor",IDC_RS_TEMP_CAPTION,28,62,118,13
    LTEXT           "V",IDC_RS_TEMP_UNIT,236,64,20,14
    CTEXT           "value",IDC_RS_KNOCK_VALUE,160,85,70,19,SS_SUNKEN
    LTEXT           "Knock signal level",IDC_RS_KNOCK_CAPTION,28,88,118,13
    LTEXT           "V",IDC_RS_KNOCK_UNIT,236,90,20,14
    CTEXT           "value",IDC_RS_TPS_VALUE,160,111,70,19,SS_SUNKEN
    LTEXT           "Throttle position sensor",IDC_RS_TPS_CAPTION,28,114,118,13
    LTEXT           "V",IDC_RS_TPS_UNIT,236,116,20,14
    CTEXT           "value",IDC_RS_ADD_I1_VALUE,160,137,70,19,SS_SUNKEN
    LTEXT           "ADD_IO1  Input",IDC_RS_ADD_I1_CAPTION,28,140,118,13
    LTEXT           "V",IDC_RS_ADD_I1_UNIT,236,142,20,14
    CTEXT           "value",IDC_RS_ADD_I2_VALUE,160,163,70,19,SS_SUNKEN
    LTEXT           "ADD_IO2  Input",IDC_RS_ADD_I2_CAPTION,28,166,118,13
    LTEXT           "V",IDC_RS_ADD_I2_UNIT,236,168,20,14
    CTEXT           "value",IDC_RS_ADD_I3_VALUE,160,189,70,19,SS_SUNKEN
    LTEXT           "ADD_I3 Input",IDC_RS_ADD_I3_CAPTION,28,192,118,13
    LTEXT           "V",IDC_RS_ADD_I3_UNIT,236,194,20,14
    CTEXT           "value",IDC_RS_ADD_I4_VALUE,160,215,70,19,SS_SUNKEN
    LTEXT           "ADD_I4 input",IDC_RS_ADD_I4_CAPTION,28,218,118,13
    LTEXT           "V",IDC_RS_ADD_I4_UNIT,236,220,20,14
END

IDD_DBGVAR_DESK DIALOGEX 0, 0, 175, 27
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "value",IDC_DV_VAR1_VALUE,3,11,40,13,SS_SUNKEN
    LTEXT           "var1:",IDC_DV_VAR1_CAPTION,7,1,17,9
    CONTROL         "dec",IDC_DV_BASE1_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,26,0,17,10
    CTEXT           "value",IDC_DV_VAR2_VALUE,46,11,40,13,SS_SUNKEN
    LTEXT           "var2:",IDC_DV_VAR2_CAPTION,49,1,17,9
    CONTROL         "dec",IDC_DV_BASE2_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,68,0,17,10
    CTEXT           "value",IDC_DV_VAR3_VALUE,89,11,40,13,SS_SUNKEN
    LTEXT           "var3:",IDC_DV_VAR3_CAPTION,92,1,17,9
    CONTROL         "dec",IDC_DV_BASE3_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,111,0,17,10
    CTEXT           "value",IDC_DV_VAR4_VALUE,132,11,40,13,SS_SUNKEN
    LTEXT           "var4:",IDC_DV_VAR4_CAPTION,135,1,17,9
    CONTROL         "dec",IDC_DV_BASE4_CHECK,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,154,0,17,10
END

IDD_CE_ERRORS_DESK DIALOGEX 0, 0, 284, 18
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "CE",IDC_CE_DESK_CE,10,4,13,10
    CTEXT           "",IDC_CE_DESK_0,30,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_1,44,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_2,58,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_3,72,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_4,86,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_5,100,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_6,114,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_7,128,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_8,142,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_9,156,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_10,170,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_11,184,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_12,198,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_13,212,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_14,226,4,13,10,SS_SUNKEN | SS_NOTIFY
    CTEXT           "",IDC_CE_DESK_15,240,4,13,10,SS_SUNKEN | SS_NOTIFY
END

IDD_LOG_MARKS_DESK DIALOGEX 0, 0, 152, 11
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
EXSTYLE WS_EX_STATICEDGE
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "",IDC_LOG_MARKS_K1,7,1,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K2,57,1,35,9,SS_SUNKEN
    CTEXT           "",IDC_LOG_MARKS_K3,107,1,35,9,SS_SUNKEN
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CED_CKPS_MALFUNCTION_TT    "Failures in working of CKP sensor - synchronization errors"
    IDS_CED_EEPROM_PARAM_BROKEN_TT "EEPROM parameters is damaged (CRC)"
    IDS_CED_PROGRAM_CODE_BROKEN_TT "Firmware code is damaged (CRC)"
    IDS_CED_KSP_CHIP_FAILED_TT     "Knock chip doesn't respond"
    IDS_CED_KNOCK_DETECTED_TT      "Detonation detected"
    IDS_CED_MAP_SENSOR_FAIL_TT     "Breakage or wrong work of MAP sensor"
    IDS_CED_TEMP_SENSOR_FAIL_TT    "Breakage or wrong work of coolant temperature sensor"
    IDS_CED_VOLT_SENSOR_FAIL_TT    "Abnormal board voltage"
    IDS_CED_DWELL_CONTROL_TT       "Dwell control"
    IDS_CED_CAMS_MALFUNCTION_TT    "Breakage or wrong work of cam sensor"
    IDS_CED_TPS_SENSOR_FAIL_TT     "Breakage or wrong indication of TPS"
    IDS_CED_ADD_I1_SENSOR_TT       "ADD_I1 input's sensor failure"
    IDS_CED_ADD_I2_SENSOR_TT       "ADD_I2 input's sensor failure"
    IDS_CED_ADD_I3_SENSOR_TT       "ADD_I3 input's sensor failure"
    IDS_CED_ADD_I4_SENSOR_TT       "ADD_I4 input's sensor failure"
    IDS_CED_SYS_START_TT           "Firmware start (reset of processor)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_VOLTAGE_TITLE    "Voltage"
    IDS_MI_VOLTAGE_UNIT     "Volt"
    IDS_MI_TEMPERATURE_TITLE "Coolant temperature"
    IDS_CE_ERRORS_DESK_TT   "CE error codes"
    IDS_MI_ADD_I1_TITLE     "Input 1"
    IDS_MI_ADD_I2_TITLE     "Input 2"
    IDS_MI_ADD_I1_TT        "Voltage at the ADD_IO1 input"
    IDS_MI_ADD_I2_TT        "Voltage at the ADD_IO2 input"
    IDS_LOG_MARKS_DESK_TT   "User's markers in the log"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_TEMPERATURE_UNIT "°C"
    IDS_MI_TACHOMETER_TITLE "Speed"
    IDS_MI_TACHOMETER_UNIT  "min-1"
    IDS_MI_PRESSURE_TITLE   "Absolute pressure"
    IDS_MI_PRESSURE_UNIT    "kPa"
    IDS_MI_ADVANGLE_TITLE   "Advance angle"
    IDS_MI_ADVANGLE_UNIT    "degr."
    IDS_MI_KM               "km"
    IDS_MI_MI               "mi"
    IDS_MI_KM_H             "km/h"
    IDS_MI_MP_H             "MPH"
    IDS_MI_TPS_FMT_STR      "TPS  %0.1f%%"
    IDS_MI_INJ_PW_TITLE     "Injection PW"
    IDS_MI_MS_UNIT          "ms"
    IDS_MI_IAT_TITLE        "Intake air temperature"
    IDS_MI_EGO_CORR_TITLE   "EGO correction"
    IDS_MI_PERCENT_UNIT     "%"
    IDS_MI_THROTTLE_GATE_TITLE "Throttle gate"
    IDS_MI_AIR_FLOW_TITLE   "Air flow"
    IDS_MI_AIR_FLOW_UNIT    "Curve N"
    IDS_MI_VSS_TITLE        "Vehicle speed"
    IDS_MI_TPSDOT_TITLE     "TPS dot"
    IDS_MI_TPSDOT_UNIT      "%/sec"
    IDS_MI_MAP2_TITLE       "MAP2"
    IDS_MI_MAPD_TITLE       "Diff.Pressure"
    IDS_MI_TMP2_TITLE       "IAT2"
    IDS_MI_FUELCONSUM_TITLE "Fuel consumption"
    IDS_MI_FUELCONSUM_UNIT  "L/100km"
    IDS_MI_KNOCKRETARD_TITLE "Knock retard"
    IDS_MI_KNOCKGRAPH_V_UNIT "V"
    IDS_MI_KNOCKGRAPH_H_UNIT "Samples"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MI_IND_GAS_V        "Gas valve"
    IDS_MI_IND_CARB         "Throttle"
    IDS_MI_IND_IDLEVALVE    "FI fuel"
    IDS_MI_IND_POWERVALVE   "Power valve"
    IDS_MI_IND_STBLOCK      "Starter blocking"
    IDS_MI_IND_AE           "AE"
    IDS_MI_IND_COOLINGFAN   "Cooling fan"
END

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,7,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2018 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
