// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAP_IMPEXP DIALOGEX 0, 0, 381, 284
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "description"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Static",IDC_MAP_IMPEXP_CURRENT_FWD_TITLE,20,17,139,12
    CONTROL         "List1",IDC_MAP_IMPEXP_CURRENT_FWD_LIST,"SysListView32",LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_EDITLABELS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,17,30,112,115,WS_EX_LEFTSCROLLBAR
    PUSHBUTTON      "<>",IDC_MAP_IMPEXP_EXCHANGE_BUTTON,136,44,37,20
    LTEXT           "Static",IDC_MAP_IMPEXP_OTHER_FWD_TITLE,183,18,176,12
    CONTROL         "List2",IDC_MAP_IMPEXP_OTHER_FWD_LIST,"SysListView32",LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_EDITLABELS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,179,30,133,118,WS_EX_LEFTSCROLLBAR
    CONTROL         "УОЗ на пуске",IDC_MAP_IMPEXP_STARTMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,168,80,8
    CONTROL         "Карта УОЗ на ХХ",IDC_MAP_IMPEXP_IDLEMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,182,80,8
    CONTROL         "Рабочая карта УОЗ",IDC_MAP_IMPEXP_WORKMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,196,80,8
    CONTROL         "Темпер.корр. УОЗ",IDC_MAP_IMPEXP_TEMPMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,210,80,8
    CONTROL         "Коэфф.наполн.",IDC_MAP_IMPEXP_VEMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,224,80,8
    CONTROL         "Воздух/топливо",IDC_MAP_IMPEXP_AFRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,238,80,8
    CONTROL         "Длит.впр.на пуске",IDC_MAP_IMPEXP_CRNKMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,252,80,8
    CONTROL         "Обогащ.при прогр.",IDC_MAP_IMPEXP_WRMPMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,266,80,8
    CONTROL         "Время откр.форс.",IDC_MAP_IMPEXP_DEADMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,168,80,8
    CONTROL         "Полож. РХХ рабоч.",IDC_MAP_IMPEXP_IDLRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,182,80,8
    CONTROL         "Полож. РХХ пуск.",IDC_MAP_IMPEXP_IDLCMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,196,80,8
    CONTROL         "Ускор. обог.ДПДЗ",IDC_MAP_IMPEXP_AETPSMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,210,80,8
    CONTROL         "Ускор. обог.обор.",IDC_MAP_IMPEXP_AERPMMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,224,80,8
    CONTROL         "Обогащ. пос.пуска",IDC_MAP_IMPEXP_AFTSTRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,238,80,8
    CONTROL         "Фаза впрыска",IDC_MAP_IMPEXP_ITMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,252,80,8
    CONTROL         "Эмуляция ШДК",IDC_MAP_IMPEXP_EGOCRVMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,266,80,8

    DEFPUSHBUTTON   "OK",IDOK,318,34,50,20
    PUSHBUTTON      "Cancel",IDCANCEL,318,63,50,21
    GROUPBOX        "Отдельные таблицы",IDC_MAP_IMPEXP_SEPTAB_GROUP,178,156,192,122
    GROUPBOX        "Группа таблиц",IDC_MAP_IMPEXP_GRPTAB_GROUP,5,156,169,122
    CONTROL         "Врем. накопления",IDC_MAP_IMPEXP_DWELLCNTRL_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,168,90,8
    CONTROL         "Табл. аттенюат. ДД",IDC_MAP_IMPEXP_ATTENUATOR_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,182,90,8
    CONTROL         "Табл. кривой ДТОЖ",IDC_MAP_IMPEXP_CTS_FLAG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,182,196,90,8
    CONTROL         "Табл. открытия ВЗ",IDC_MAP_IMPEXP_CHOKE_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,210,90,8
    CONTROL         "Табл. кривой ДТВ",IDC_MAP_IMPEXP_ATS_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,224,90,8
    CONTROL         "ДТВ коррекция УОЗ",IDC_MAP_IMPEXP_ATSAAC_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,238,90,8
    CONTROL         "Карта положения ДГ",IDC_MAP_IMPEXP_GASDOSE_FLAG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,182,252,90,8
    LTEXT           "Выберите по одному элементу в каждом из списков и нажмите кнопку расположенную между ними",
                    IDC_MAP_IMPEXP_HOWTO_TEXT,317,87,60,64
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CANT_LOAD_THIS_FILE "Не знаю как загрузить этот файл, извините!"
    IDS_MAP_NO_NAME         "<no name %d>"
    IDS_SECU3_CURRENT_FW    "SECU-3 Текущая прошивка"
    IDS_MPSZ_FW_FILE        "MPSZ %s"
    IDS_SECU3_FW_FILE       "SECU-3 %s"
    IDS_S3F_FW_FILE         "S3F %s"
    IDS_IMPORT_MPSZ_TABLES  "Импорт таблиц из MPSZ"
    IDS_IMPORT_SECU3_TABLES "Импорт таблиц из прошивки SECU-3"
    IDS_IMPORT_S3F_TABLES   "Импорт таблиц из S3F файла"
    IDS_CANT_SAVE_THIS_FILE "Не знаю как сохранить этот файл, извините!"
    IDS_EXPORT_MPSZ_TABLES  "Экспорт таблиц в MPSZ"
    IDS_EXPORT_SECU3_TABLES  "Экспорт таблиц в прошивку SECU-3"
    IDS_EXPORT_S3F_TABLES   "Экспорт таблиц в S3F файл"
    IDS_OPEN_FILE_FOR_EXPORT "Открыть файл для экспорта"
    IDS_IMPORT_SECU3_TABLES_EE "Импорт таблиц из SECU-3 EEPROM"
    IDS_FILE_WRONG_CRC      "Внимание! Открываемый файл имеет неправильную контролуую сумму. Вы хотите продолжить?"
END


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAP_IMPEXP_STARTMAP_FLAG_TT "Выберите галочками необходимые таблицы и нажмите кнопку со стрелкой"
    IDS_MAP_IMPEXP_DWELLCNTRL_FLAG_TT "Поставьте галочки напротив таблиц, которые нужно перенести. Содержимое этих таблиц скопируется при нажатии на кнопку ОК."
END

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAP_IMPEXP DIALOGEX 0, 0, 381, 284
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "description"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Static",IDC_MAP_IMPEXP_CURRENT_FWD_TITLE,20,17,139,12
    CONTROL         "List1",IDC_MAP_IMPEXP_CURRENT_FWD_LIST,"SysListView32",LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_EDITLABELS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,17,30,112,115,WS_EX_LEFTSCROLLBAR
    PUSHBUTTON      "<>",IDC_MAP_IMPEXP_EXCHANGE_BUTTON,136,44,37,20
    LTEXT           "Static",IDC_MAP_IMPEXP_OTHER_FWD_TITLE,183,18,176,12
    CONTROL         "List2",IDC_MAP_IMPEXP_OTHER_FWD_LIST,"SysListView32",LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_EDITLABELS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,179,30,133,118,WS_EX_LEFTSCROLLBAR
    CONTROL         "Cranking ignit. timing",IDC_MAP_IMPEXP_STARTMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,168,80,8
    CONTROL         "Idle ignition timing",IDC_MAP_IMPEXP_IDLEMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,182,80,8
    CONTROL         "Work ignition timing",IDC_MAP_IMPEXP_WORKMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,196,80,8
    CONTROL         "Ignit.timing CLT corr.",IDC_MAP_IMPEXP_TEMPMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,210,80,8
    CONTROL         "Volumetric efficiency",IDC_MAP_IMPEXP_VEMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,224,80,8
    CONTROL         "Air/fuel ratio",IDC_MAP_IMPEXP_AFRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,238,80,8
    CONTROL         "Cranking inj. PW",IDC_MAP_IMPEXP_CRNKMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,252,80,8
    CONTROL         "Warmup enrichment",IDC_MAP_IMPEXP_WRMPMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,266,80,8
    CONTROL         "Injector dead time",IDC_MAP_IMPEXP_DEADMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,168,80,8
    CONTROL         "IAC position on run",IDC_MAP_IMPEXP_IDLRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,182,80,8
    CONTROL         "IAC pos. on cranking",IDC_MAP_IMPEXP_IDLCMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,196,80,8
    CONTROL         "Accel. enrich. TPS",IDC_MAP_IMPEXP_AETPSMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,210,80,8
    CONTROL         "Accel. enrich. RPM",IDC_MAP_IMPEXP_AERPMMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,224,80,8
    CONTROL         "Afterstart enrich.",IDC_MAP_IMPEXP_AFTSTRMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,238,80,8
    CONTROL         "Inj.timing",IDC_MAP_IMPEXP_ITMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,252,80,8
    CONTROL         "WBO emulation",IDC_MAP_IMPEXP_EGOCRVMAP_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,95,266,80,8

    DEFPUSHBUTTON   "OK",IDOK,318,34,50,20
    PUSHBUTTON      "Cancel",IDCANCEL,318,63,50,21
    GROUPBOX        "Separate tables",IDC_MAP_IMPEXP_SEPTAB_GROUP,178,156,192,122
    GROUPBOX        "For set of tables",IDC_MAP_IMPEXP_GRPTAB_GROUP,5,156,169,122
    CONTROL         "Dwell time",IDC_MAP_IMPEXP_DWELLCNTRL_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,168,90,8
    CONTROL         "Knock attenuator",IDC_MAP_IMPEXP_ATTENUATOR_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,182,90,8
    CONTROL         "CTS curve",IDC_MAP_IMPEXP_CTS_FLAG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,182,196,90,8
    CONTROL         "Choke opening",IDC_MAP_IMPEXP_CHOKE_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,210,90,8
    CONTROL         "IAT curve",IDC_MAP_IMPEXP_ATS_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,224,90,8
    CONTROL         "Ignit.timing IAT corr.",IDC_MAP_IMPEXP_ATSAAC_FLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,182,238,90,8
    CONTROL         "Gas valve position",IDC_MAP_IMPEXP_GASDOSE_FLAG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,182,252,90,8
    LTEXT           "\nSelect one item in each list and click button located between them",
                    IDC_MAP_IMPEXP_HOWTO_TEXT,317,87,60,64
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CANT_LOAD_THIS_FILE "Don't know how to load this file, sorry!"
    IDS_MAP_NO_NAME         "<no name %d>"
    IDS_SECU3_CURRENT_FW    "SECU-3 Current firmware"
    IDS_MPSZ_FW_FILE        "MPSZ %s"
    IDS_SECU3_FW_FILE       "SECU-3 %s"
    IDS_S3F_FW_FILE         "S3F %s"
    IDS_IMPORT_MPSZ_TABLES  "Import tables from MPSZ"
    IDS_IMPORT_SECU3_TABLES "Import tables from SECU-3 firmware"
    IDS_IMPORT_S3F_TABLES   "Import tables from S3F file"
    IDS_CANT_SAVE_THIS_FILE "Don't know how to save this file, sorry!"
    IDS_EXPORT_MPSZ_TABLES  "Export tables into MPSZ"
    IDS_EXPORT_SECU3_TABLES  "Export tables into SECU-3 firmware"
    IDS_EXPORT_S3F_TABLES   "Export tables into S3F file"
    IDS_OPEN_FILE_FOR_EXPORT "Open file for export"
    IDS_IMPORT_SECU3_TABLES_EE "Import tables from SECU-3 EEPROM"
    IDS_FILE_WRONG_CRC      "Warning! File you are opening has wrong check sum. Do you want to continue?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAP_IMPEXP_STARTMAP_FLAG_TT "Mark necessary tables and press button with arrow"
    IDS_MAP_IMPEXP_DWELLCNTRL_FLAG_TT "Select necessary maps for moving. Button with arrow doesn't affect them, they will be copied on pressing of OK button."
END

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,7,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2017 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
