// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

IDD_SCRLMSGBOX DIALOGEX 0, 0, 210, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN
CAPTION "MessageBox"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,80,240,50,14
    EDITTEXT        IDC_SCRLMSGBOX_EDIT,26,5,180,228,ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_DYNFLDDLG DIALOGEX 0, 0, 220, 50
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
END

IDD_DYNFLDCNTR DIALOGEX 0, 0, 220, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "DynFieldsDialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,80,80,50,14
END

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_SCRLMSGBOX DIALOGEX 0, 0, 210, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN
CAPTION "MessageBox"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,80,240,50,14
    EDITTEXT        IDC_SCRLMSGBOX_EDIT,26,5,180,228,ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_DYNFLDDLG DIALOGEX 0, 0, 220, 50
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
END

IDD_DYNFLDCNTR DIALOGEX 0, 0, 220, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "DynFieldsDialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,80,80,50,14
END

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2022 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
