// SECU-3  - An open source, free engine control unit
//
// Resource file for Chart3D DLL unit.
// Created by Alexey A. Shabelnikov, UA, Kiev. http://secu-3.org

#include "resource.h"


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

stringtable
{
  IDS_EDITING_MAPS, "Редактирование карт"
  IDS_LEFT_AXIS_TITLE, "УОЗ (град.)"
  IDS_AIR_FLOW_CAPTION_TEXT, "Расход воздуха:"
  IDS_BACK_SIDE_VIEW_CB, "вид сзади"
  IDS_PM_ZERO_ALL_POINTS, "Обнулить все точки кривой"
  IDS_PM_SET_ALLTO_1ST_PT, "Размножить знач. 1-й точки"
  IDS_PM_BLD_CURVE_1ST_LAST_PT, "Постр. кривую исп. 1-ю и послед. точки"
  IDS_PM_ZERO_ALL_CURVES, "Обнулить все кривые"
  IDS_PM_SET_ALLTO_THIS_CR, "Размножить кривую"
  IDS_PM_BLD_SHAPE_1ST_LAST_CR, "Постр. поверхн. исп. 1-ю и послед. крив."
  IDS_PM_COPY_FROM_CURVE, "Копировать из кривой"
  IDS_PM_COPY_TO_CURVE, "Копировать в кривую"
  IDS_TT_SMOOTHING_3_POINTS, "Сглаживание по 3-м соседним точкам"
  IDS_TT_SMOOTHING_5_POINTS, "Сглаживание по 5-ти соседним точкам"
  IDS_TT_MOVE_FUNC_UP, "Сместить функцию вверх на текущее значение 'Шаг смещения точек'"
  IDS_TT_MOVE_FUNC_DOWN, "Сместить функцию вниз на текущее значение 'Шаг смещения точек'"
  IDS_TT_FUNC_VIEW_3D, "Просмотр функции в 3D"
  IDS_TT_FUNC_VIEW_BACK, "Вид с обратной стороны (можно использ. клавишу B на клавиатуре)"
  IDS_TT_SELECT_CURVE, "Выбор кривой для редактирования (можно использ. клавиши Z,X на клавиатуре)"
  IDS_PM_SET_PTMOV_STEP, "Шаг смещения точек..."
  IDS_PM_HIDE_MARKS, "Спрятать надписи"
  IDS_PM_HIDE_OLDCURVE, "Спрятать 'старую' кривую"
  IDS_PM_EXPORT, "Экспорт"
  IDS_PM_EXPORT_CSV, "В формат .csv"
  IDS_PM_IMPORT, "Импорт"
  IDS_PM_IMPORT_CSV, "Из формата .csv"
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

stringtable
{
  IDS_EDITING_MAPS, "Editing maps"
  IDS_LEFT_AXIS_TITLE, "Advance angle (degr.)"
  IDS_AIR_FLOW_CAPTION_TEXT, "Air flow:"
  IDS_BACK_SIDE_VIEW_CB, "back view"
  IDS_PM_ZERO_ALL_POINTS, "Zero all curve points"
  IDS_PM_SET_ALLTO_1ST_PT, "Duplicate value of 1st point"
  IDS_PM_BLD_CURVE_1ST_LAST_PT, "Build curve using 1st and last points"
  IDS_PM_ZERO_ALL_CURVES, "Zero all curves"
  IDS_PM_SET_ALLTO_THIS_CR, "Duplicate curve"
  IDS_PM_BLD_SHAPE_1ST_LAST_CR, "Build shape using 1st and last curves"
  IDS_PM_COPY_FROM_CURVE, "Copy From Curve"
  IDS_PM_COPY_TO_CURVE, "Copy To Curve"
  IDS_TT_SMOOTHING_3_POINTS, "Smoothing uning 3 adjacent points"
  IDS_TT_SMOOTHING_5_POINTS, "Smoothing using 5 adjacent points"
  IDS_TT_MOVE_FUNC_UP, "Move function up by current value of 'Points' moving step'"
  IDS_TT_MOVE_FUNC_DOWN, "Move function down by current value of 'Points' moving step'"
  IDS_TT_FUNC_VIEW_3D, "View function in 3D"
  IDS_TT_FUNC_VIEW_BACK, "Function back side view (you can use B key on the keyboard)"
  IDS_TT_SELECT_CURVE, "Select curve for editing (you can use Z,X keys on the keyboard)"
  IDS_PM_SET_PTMOV_STEP, "Points' moving step..."
  IDS_PM_HIDE_MARKS, "Hide marks"
  IDS_PM_HIDE_OLDCURVE, "Hide 'old' curve"
  IDS_PM_EXPORT, "Export"
  IDS_PM_EXPORT_CSV, "Into .csv format"
  IDS_PM_IMPORT, "Import"
  IDS_PM_IMPORT_CSV, "From .csv format"
}
