// SECU-3  - An open source, free engine control unit
// Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Kiev
// http://secu-3.org

#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//Version information
VS_VERSION_INFO     VERSIONINFO
  PRODUCTVERSION    4,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "SECU-3.ORG"
      VALUE "LegalCopyright", "Copyright (C) 2007-2020 Alexey A. Shabelnikov, SECU-3.ORG.  All rights reserved."
      VALUE "ProductName", "SECU-3 Manager"
    END
  END
END
