#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TD_BUTTONS_PANEL DIALOG DISCARDABLE  0, 0, 114, 96
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Пусковая карта УОЗ",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,
                    6,96,18
    CONTROL         "Карта УОЗ на ХХ",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,
                    27,96,18
    CONTROL         "Рабочая карта УОЗ",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,
                    49,96,18
    CONTROL         "Темпер. коррекция",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,
                    71,96,18
END

IDD_TD_ALLTABLES_PANEL DIALOGEX 0, 0, 225, 148
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "Семейства характеристик",IDC_TD_MAP_GROUPBOX,3,3,217,
                    100
    CONTROL         "List1",IDC_TD_FUNSET_LIST,"SysListView32",LVS_LIST | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | 
                    LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,9,15,93,83,
                    WS_EX_LEFTSCROLLBAR
    CONTROL         "Пусковая карта УОЗ",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,15,96,18
    CONTROL         "Карта УОЗ на ХХ",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,36,96,18
    CONTROL         "Рабочая карта УОЗ",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,58,96,18
    CONTROL         "Темпер. коррекция",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,80,96,18
    CONTROL         "",IDC_TD_DWELL_CALC_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,105,16,19
    CONTROL         "Настр. накопления",IDC_TD_VIEW_DWELL_CONTROL,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,105,82,19
    CONTROL         "Настройка аттенюатора",IDC_TD_VIEW_ATTENUATOR_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,105,95,19
    CONTROL         "Настр. крив. ДТОЖ",IDC_TD_VIEW_CTS_CURVE,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,127,82,19
END

IDD_DWELL_CALC DIALOGEX 0, 0, 171, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Расчет времени накопления"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,25,95,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,90,95,50,14
    EDITTEXT        IDC_DWELL_CALC_R_EDIT,26,17,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_R_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    63,17,12,16
    EDITTEXT        IDC_DWELL_CALC_L_EDIT,26,40,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_L_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,40,12,16
    EDITTEXT        IDC_DWELL_CALC_I_EDIT,26,63,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_I_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,63,12,16
    LTEXT           "Индуктивность катушки (мГн)",IDC_STATIC,83,39,64,18
    LTEXT           "Максимальный ток (Ампер)",IDC_STATIC,83,63,64,18
    LTEXT           "Сопротивление катушки (Ом)",IDC_STATIC,82,16,63,16
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAPS_RPM_UNIT       "Обороты (мин-1)"
    IDS_MAPS_ADVANGLE_UNIT  "УОЗ (град.)"
    IDS_START_MAP           "Пусковая карта УОЗ"
    IDS_IDLE_MAP            "Карта УОЗ на холостом ходу"
    IDS_WORK_MAP            "Рабочая карта УОЗ"
    IDS_TEMPCORR_MAP        "Карта коррекции УОЗ по температуре охлаждающей жидкости"
    IDS_MAPS_TEMPERATURE_UNIT "Температура °C"
    IDS_MAPS_ATTENUATOR_GAIN_UNIT "Константа коэфф. усиления"
    IDS_ATTENUATOR_MAP      "Настройка кривой усиления аттенюатора"
    IDS_MAPS_VOLT_UNIT      "Вольты (B)"
    IDS_MAPS_DWELLCNTRL_UNIT "Время накопления (мс)"
    IDS_DWELLCNTRL_MAP      "Настройка времени накопления энергии катушек зажигания"
    IDS_CTS_CURVE_MAP       "Настройка кривой датчика температуры охлаждающей жидкости"
    IDS_TD_DWELL_CALC_BUTTON_TT "Расчет таблицы времени накопления энергии КЗ по параметрам катушки"
    IDS_TD_VIEW_DWELL_CONTROL_TT "Редактирование таблицы времени накопления энергии КЗ"
END

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TD_BUTTONS_PANEL DIALOG DISCARDABLE  0, 0, 114, 96
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Start angle map",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,
                    6,96,18
    CONTROL         "Idle angle map",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,
                    28,96,18
    CONTROL         "Work angle map",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,
                    49,96,18
    CONTROL         "Coolant temper. corr.",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,
                    70,96,18
END

IDD_TD_ALLTABLES_PANEL DIALOGEX 0, 0, 225, 148
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "Sets of tables",IDC_TD_MAP_GROUPBOX,3,3,
                    217,100
    CONTROL         "List1",IDC_TD_FUNSET_LIST,"SysListView32",LVS_LIST | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | 
                    LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,9,15,93,83,
                    WS_EX_LEFTSCROLLBAR
    CONTROL         "Start angle map",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,15,96,18
    CONTROL         "Idle angle map",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,36,96,18
    CONTROL         "Work angle map",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,58,96,18
    CONTROL         "Coolant temper. corr.",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,80,96,18
    CONTROL         "",IDC_TD_DWELL_CALC_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,105,16,19
    CONTROL         "Tune dwell",IDC_TD_VIEW_DWELL_CONTROL,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,105,82,19
    CONTROL         "Tune attenuator",IDC_TD_VIEW_ATTENUATOR_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,105,95,19
    CONTROL         "Tune CTS curve",IDC_TD_VIEW_CTS_CURVE,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,127,82,19
END

IDD_DWELL_CALC DIALOGEX 0, 0, 171, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Calculate dwell"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,25,95,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,90,95,50,14
    EDITTEXT        IDC_DWELL_CALC_R_EDIT,26,17,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_R_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    63,17,12,16
    EDITTEXT        IDC_DWELL_CALC_L_EDIT,26,40,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_L_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,40,12,16
    EDITTEXT        IDC_DWELL_CALC_I_EDIT,26,63,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_I_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,63,12,16
    LTEXT           "Coil inductance (milliHenry)",IDC_STATIC,83,39,64,18
    LTEXT           "Maximum current (Ampere)",IDC_STATIC,83,63,64,18
    LTEXT           "Coil resistance (Ohm)",IDC_STATIC,82,16,63,16
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_CALC_UP             BITMAP     "calc_up.bmp"
IDB_CALC_DOWN           BITMAP     "calc_down.bmp"
IDB_CALC_FOCUSED        BITMAP     "calc_focused.bmp"
IDB_CALC_DISABLED       BITMAP     "calc_disabled.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAPS_RPM_UNIT       "Speed (min-1)"
    IDS_MAPS_ADVANGLE_UNIT  "Angle (degr.)"
    IDS_START_MAP           "Start angle map"
    IDS_IDLE_MAP            "Idle angle map"
    IDS_WORK_MAP            "Work angle map"
    IDS_TEMPCORR_MAP        "Coolant temperature angle's correction map"
    IDS_MAPS_TEMPERATURE_UNIT "Temperature °C"
    IDS_MAPS_ATTENUATOR_GAIN_UNIT "Gain factor constant"
    IDS_ATTENUATOR_MAP      "Tune attenuator curve of amplification"
    IDS_MAPS_VOLT_UNIT      "Volts (V)"
    IDS_MAPS_DWELLCNTRL_UNIT "Accumulation time (ms)"
    IDS_DWELLCNTRL_MAP      "Tune accumulation time of ignition coils"
    IDS_CTS_CURVE_MAP       "Tune coolant temperature sensor curve"
    IDS_TD_DWELL_CALC_BUTTON_TT "Calculate dwell control lookup table using coil's characteristics"
    IDS_TD_VIEW_DWELL_CONTROL_TT "Edit dwell control lookup table"
END
