#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TD_BUTTONS_PANEL DIALOG DISCARDABLE  0, 0, 114, 108
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Пусковая карта УОЗ",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,6,96,18
    CONTROL         "Карта УОЗ на ХХ",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,27,96,18
    CONTROL         "Рабочая карта УОЗ",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,49,96,18
    CONTROL         "Темпер. коррекция",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,8,71,96,18
    CONTROL         "В виде таблиц",IDC_TD_GME_CHECK,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | WS_TABSTOP,8,90,96,12
END

IDD_TD_ALLTABLES_PANEL DIALOGEX 0, 0, 225, 158
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "Семейства характеристик",IDC_TD_MAP_GROUPBOX,3,3,217,112
    CONTROL         "",IDC_TD_FUNSET_LIST,"SysListView32",LVS_LIST | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | 
                    LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,9,15,93,83,
                    WS_EX_LEFTSCROLLBAR
    CONTROL         "Пусковая карта УОЗ",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,15,96,18
    CONTROL         "Карта УОЗ на ХХ",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,36,96,18
    CONTROL         "Рабочая карта УОЗ",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,58,96,18
    CONTROL         "Темпер. коррекция",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,80,96,18
    CONTROL         "В виде таблиц",IDC_TD_GME_CHECK,"Button",
                    BS_AUTOCHECKBOX | BS_LEFT | WS_TABSTOP,110,100,96,12
    CONTROL         "",IDC_TD_DWELL_CALC_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,117,16,19
    CONTROL         "Настр. накопления",IDC_TD_VIEW_DWELL_CONTROL,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,117,82,19
    CONTROL         "Настройка аттенюатора",IDC_TD_VIEW_ATTENUATOR_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,117,95,19
    CONTROL         "",IDC_TD_RPM_GRID_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,139,16,19
    CONTROL         "Настр. крив. ДТОЖ",IDC_TD_VIEW_CTS_CURVE,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,139,82,19
    CONTROL         "Настр. открытия ВЗ",IDC_TD_VIEW_CHOKE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,139,95,19
END

IDD_DWELL_CALC DIALOGEX 0, 0, 171, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Расчет времени накопления"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,25,95,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,90,95,50,14
    EDITTEXT        IDC_DWELL_CALC_R_EDIT,26,17,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_R_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    63,17,12,16
    EDITTEXT        IDC_DWELL_CALC_L_EDIT,26,40,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_L_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,40,12,16
    EDITTEXT        IDC_DWELL_CALC_I_EDIT,26,63,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_I_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,63,12,16
    LTEXT           "Индуктивность катушки (мГн)",IDC_STATIC,83,39,64,18
    LTEXT           "Максимальный ток (Ампер)",IDC_STATIC,83,63,64,18
    LTEXT           "Сопротивление катушки (Ом)",IDC_STATIC,82,16,63,16
END

IDD_RPM_GRID_EDITOR DIALOGEX 0, 0, 490, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Редактирование сетки оборотов"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_RGE_EDIT_0,  5, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_1, 35, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_2, 65, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_3, 95,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_4, 125,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_5, 155,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_6, 185,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_7, 215,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_8, 245,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_9, 275,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_10,305,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_11,335,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_12,365,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_13,395,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_14,425,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_15,455,8,27,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,35,30,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,95,30,50,14
    PUSHBUTTON      "Вернуть стандартные значения",IDC_RGE_LOAD_DEF_VAL,185,30,115,14
    CTEXT           "",IDC_RGE_ERROR_MSG_TEXT,305,30,180,16
END

IDD_GRID_MODE_EDITOR DIALOGEX 0, 0, 530, 344
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Редактирование таблиц УОЗ"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_GME_WRK_FRAME,"Static",SS_BLACKFRAME | NOT WS_VISIBLE,20,5,490,230
    CTEXT           "600",IDC_GME_WRKL_0,  20,232,30,12
    CTEXT           "720",IDC_GME_WRKL_1,  50,232,30,12
    CTEXT           "840",IDC_GME_WRKL_2,  80,232,30,12
    CTEXT           "990",IDC_GME_WRKL_3,  110,232,30,12
    CTEXT           "1170",IDC_GME_WRKL_4, 141,232,30,12
    CTEXT           "1380",IDC_GME_WRKL_5, 172,232,30,12
    CTEXT           "1650",IDC_GME_WRKL_6, 202,232,30,12
    CTEXT           "1950",IDC_GME_WRKL_7, 232,232,30,12
    CTEXT           "2310",IDC_GME_WRKL_8, 263,232,30,12
    CTEXT           "2730",IDC_GME_WRKL_9, 294,232,30,12
    CTEXT           "3210",IDC_GME_WRKL_10,325,232,30,12
    CTEXT           "3840",IDC_GME_WRKL_11,355,232,30,12
    CTEXT           "4530",IDC_GME_WRKL_12,386,232,30,12
    CTEXT           "5370",IDC_GME_WRKL_13,417,232,30,12
    CTEXT           "6360",IDC_GME_WRKL_14,448,232,30,12
    CTEXT           "7500",IDC_GME_WRKL_15,478,232,30,12

    CTEXT           "ХХ", IDC_GME_IDL_TITLE, 1, 245, 15, 12

    EDITTEXT        IDC_GME_IDL_0,  20,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_1,  50,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_2,  80,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_3, 110,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_4, 141,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_5, 172,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_6, 202,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_7, 233,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_8, 263,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_9, 294,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_10,325,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_11,355,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_12,386,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_13,417,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_14,448,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_15,478,245,30,12,ES_AUTOHSCROLL

    CTEXT           "Tкор", IDC_GME_TMP_TITLE, 1, 262, 17, 12

    EDITTEXT        IDC_GME_TMP_0,  20,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_1,  50,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_2,  80,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_3, 110,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_4, 141,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_5, 172,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_6, 202,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_7, 233,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_8, 263,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_9, 294,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_10,325,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_11,355,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_12,386,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_13,417,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_14,448,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_15,478,262,30,12,ES_AUTOHSCROLL

    CTEXT           "-30°",IDC_GME_TMPL_0,  20,275,30,12
    CTEXT           "-20°",IDC_GME_TMPL_1,  50,275,30,12
    CTEXT           "-10°",IDC_GME_TMPL_2,  80,275,30,12
    CTEXT           " 0° ",IDC_GME_TMPL_3, 110,275,30,12
    CTEXT           "10° ",IDC_GME_TMPL_4, 141,275,30,12
    CTEXT           "20° ",IDC_GME_TMPL_5, 172,275,30,12
    CTEXT           "30° ",IDC_GME_TMPL_6, 202,275,30,12
    CTEXT           "40° ",IDC_GME_TMPL_7, 233,275,30,12
    CTEXT           "50° ",IDC_GME_TMPL_8, 263,275,30,12
    CTEXT           "60° ",IDC_GME_TMPL_9, 294,275,30,12
    CTEXT           "70° ",IDC_GME_TMPL_10,325,275,30,12
    CTEXT           "80° ",IDC_GME_TMPL_11,355,275,30,12
    CTEXT           "90° ",IDC_GME_TMPL_12,386,275,30,12
    CTEXT           "100°",IDC_GME_TMPL_13,417,275,30,12
    CTEXT           "110°",IDC_GME_TMPL_14,448,275,30,12
    CTEXT           "120°",IDC_GME_TMPL_15,478,275,30,12

    CTEXT           "Пуск", IDC_GME_STR_TITLE, 1, 290, 18, 12

    EDITTEXT        IDC_GME_STR_0,  20,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_1,  50,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_2,  80,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_3, 110,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_4, 141,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_5, 172,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_6, 202,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_7, 233,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_8, 263,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_9, 294,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_10,325,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_11,355,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_12,386,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_13,417,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_14,448,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_15,478,290,30,12,ES_AUTOHSCROLL

    CTEXT           "200 ",IDC_GME_STRL_0,  20,303,30,12
    CTEXT           "240 ",IDC_GME_STRL_1,  50,303,30,12
    CTEXT           "280 ",IDC_GME_STRL_2,  80,303,30,12
    CTEXT           "320 ",IDC_GME_STRL_3, 110,303,30,12
    CTEXT           "360 ",IDC_GME_STRL_4, 141,303,30,12
    CTEXT           "400 ",IDC_GME_STRL_5, 172,303,30,12
    CTEXT           "440 ",IDC_GME_STRL_6, 202,303,30,12
    CTEXT           "480 ",IDC_GME_STRL_7, 233,303,30,12
    CTEXT           "520 ",IDC_GME_STRL_8, 263,303,30,12
    CTEXT           "560 ",IDC_GME_STRL_9, 294,303,30,12
    CTEXT           "600 ",IDC_GME_STRL_10,325,303,30,12
    CTEXT           "640 ",IDC_GME_STRL_11,355,303,30,12
    CTEXT           "680 ",IDC_GME_STRL_12,386,303,30,12
    CTEXT           "720 ",IDC_GME_STRL_13,417,303,30,12
    CTEXT           "760 ",IDC_GME_STRL_14,448,303,30,12
    CTEXT           "800 ",IDC_GME_STRL_15,478,303,30,12

    CTEXT           "УОЗ",IDC_GME_AA_CAPTION,18,320,35,10
    CTEXT           "Рабочая",IDC_GME_WM_CAPTION,58,320,35,10
    CTEXT           "ОктКорр",IDC_GME_OC_CAPTION,98,320,35,10
    CTEXT           "Ткор",IDC_GME_TC_CAPTION,138,320,35,10
    CTEXT           "ДДКорр",IDC_GME_KC_CAPTION,178,320,35,10
    CTEXT           "ХХ",IDC_GME_IM_CAPTION,218,320,35,10
    CTEXT           "РХХ",IDC_GME_IC_CAPTION,258,320,35,10

    CTEXT           "",IDC_GME_AA_VALUE,20,330,30,12, SS_SUNKEN
    CTEXT           "=",IDC_GME_AAE_TEXT,50,330,10,10
    CTEXT           "",IDC_GME_WM_VALUE,60,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_WMP_TEXT,90,330,10,10
    CTEXT           "",IDC_GME_OC_VALUE,100,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_OCP_TEXT,130,330,10,10
    CTEXT           "",IDC_GME_TC_VALUE,140,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_TCP_TEXT,170,330,10,10
    CTEXT           "",IDC_GME_KC_VALUE,180,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_KCP_TEXT,210,330,10,10
    CTEXT           "",IDC_GME_IM_VALUE,220,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_IMP_TEXT,250,330,10,10
    CTEXT           "",IDC_GME_IC_VALUE,260,330,30,12, SS_SUNKEN
    LTEXT           "°",IDC_GME_AA_UNIT,291,330,10,10
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAPS_RPM_UNIT       "Обороты (мин-1)"
    IDS_MAPS_ADVANGLE_UNIT  "УОЗ (град.)"
    IDS_START_MAP           "Пусковая карта УОЗ"
    IDS_IDLE_MAP            "Карта УОЗ на холостом ходу"
    IDS_WORK_MAP            "Рабочая карта УОЗ"
    IDS_TEMPCORR_MAP        "Карта коррекции УОЗ по температуре охлаждающей жидкости"
    IDS_MAPS_TEMPERATURE_UNIT "Температура °C"
    IDS_MAPS_ATTENUATOR_GAIN_UNIT "Константа коэфф. усиления"
    IDS_ATTENUATOR_MAP      "Настройка кривой усиления аттенюатора"
    IDS_MAPS_VOLT_UNIT      "Вольты (B)"
    IDS_MAPS_DWELLCNTRL_UNIT "Время накопления (мс)"
    IDS_DWELLCNTRL_MAP      "Настройка времени накопления энергии катушек зажигания"
    IDS_CTS_CURVE_MAP       "Настройка кривой датчика температуры охлаждающей жидкости"
    IDS_TD_DWELL_CALC_BUTTON_TT "Расчет таблицы времени накопления энергии КЗ по параметрам катушки"
    IDS_TD_VIEW_DWELL_CONTROL_TT "Редактирование таблицы времени накопления энергии КЗ"
    IDS_CHOKE_OP_UNIT       "Закрытие воздушной заслонки (%)"
    IDS_CHOKE_OP_MAP        "Настройка положения воздушной заслонки от температуры"
    IDS_TD_RPM_GRID_BUTTON_TT "Изменение сетки оборотов для таблиц УОЗ ХХ и рабочего режима."
END

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TD_BUTTONS_PANEL DIALOG DISCARDABLE  0, 0, 114, 108
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Start angle map",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,6,96,18
    CONTROL         "Idle angle map",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,28,96,18
    CONTROL         "Work angle map",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,49,96,18
    CONTROL         "Coolant temper. corr.",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,7,70,96,18
    CONTROL         "Grid view",IDC_TD_GME_CHECK,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | WS_TABSTOP,8,90,96,12
END

IDD_TD_ALLTABLES_PANEL DIALOGEX 0, 0, 225, 158
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "Sets of tables",IDC_TD_MAP_GROUPBOX,3,3,217,112
    CONTROL         "",IDC_TD_FUNSET_LIST,"SysListView32",LVS_LIST | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | 
                    LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,9,15,93,83,
                    WS_EX_LEFTSCROLLBAR
    CONTROL         "Start angle map",IDC_TD_VIEW_START_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,15,96,18
    CONTROL         "Idle angle map",IDC_TD_VIEW_IDLE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,36,96,18
    CONTROL         "Work angle map",IDC_TD_VIEW_WORK_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,58,96,18
    CONTROL         "Coolant temper. corr.",IDC_TD_VIEW_TEMP_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_CENTER | BS_PUSHLIKE | WS_TABSTOP,
                    110,80,96,18
    CONTROL         "Grid view",IDC_TD_GME_CHECK,"Button",
                    BS_AUTOCHECKBOX | BS_LEFT | WS_TABSTOP,110,100,96,12
    CONTROL         "",IDC_TD_DWELL_CALC_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,117,16,19
    CONTROL         "Tune dwell",IDC_TD_VIEW_DWELL_CONTROL,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,117,82,19
    CONTROL         "Tune attenuator",IDC_TD_VIEW_ATTENUATOR_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,117,95,19
    CONTROL         "",IDC_TD_RPM_GRID_BUTTON,"Button",BS_OWNERDRAW | 
                    BS_BITMAP | WS_TABSTOP,3,139,16,19
    CONTROL         "Tune CTS curve",IDC_TD_VIEW_CTS_CURVE,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,20,139,82,19
    CONTROL         "Tune choke opening",IDC_TD_VIEW_CHOKE_MAP,"Button",
                    BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,109,139,95,19
END

IDD_DWELL_CALC DIALOGEX 0, 0, 171, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Calculate dwell"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,25,95,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,90,95,50,14
    EDITTEXT        IDC_DWELL_CALC_R_EDIT,26,17,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_R_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    63,17,12,16
    EDITTEXT        IDC_DWELL_CALC_L_EDIT,26,40,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_L_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,40,12,16
    EDITTEXT        IDC_DWELL_CALC_I_EDIT,26,63,35,16,ES_AUTOHSCROLL
    CONTROL         "",IDC_DWELL_CALC_I_SPIN,"msctls_updown32",UDS_ARROWKEYS,
                    62,63,12,16
    LTEXT           "Coil inductance (milliHenry)",IDC_STATIC,83,39,64,18
    LTEXT           "Maximum current (Ampere)",IDC_STATIC,83,63,64,18
    LTEXT           "Coil resistance (Ohm)",IDC_STATIC,82,16,63,16
END

IDD_RPM_GRID_EDITOR DIALOGEX 0, 0, 490, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Editing of RPM grid"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_RGE_EDIT_0,  5, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_1, 35, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_2, 65, 8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_3, 95,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_4, 125,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_5, 155,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_6, 185,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_7, 215,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_8, 245,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_9, 275,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_10,305,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_11,335,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_12,365,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_13,395,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_14,425,8,27,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_RGE_EDIT_15,455,8,27,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,35,30,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,95,30,50,14
    PUSHBUTTON      "Load standard values",IDC_RGE_LOAD_DEF_VAL,185,30,115,14
    CTEXT           "",IDC_RGE_ERROR_MSG_TEXT,305,30,180,16
END

IDD_GRID_MODE_EDITOR DIALOGEX 0, 0, 530, 344
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Editing advance angle maps"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_GME_WRK_FRAME,"Static",SS_BLACKFRAME | NOT WS_VISIBLE,20,5,490,230
    CTEXT           "600",IDC_GME_WRKL_0,  20,232,30,12
    CTEXT           "720",IDC_GME_WRKL_1,  50,232,30,12
    CTEXT           "840",IDC_GME_WRKL_2,  80,232,30,12
    CTEXT           "990",IDC_GME_WRKL_3,  110,232,30,12
    CTEXT           "1170",IDC_GME_WRKL_4, 141,232,30,12
    CTEXT           "1380",IDC_GME_WRKL_5, 172,232,30,12
    CTEXT           "1650",IDC_GME_WRKL_6, 202,232,30,12
    CTEXT           "1950",IDC_GME_WRKL_7, 232,232,30,12
    CTEXT           "2310",IDC_GME_WRKL_8, 263,232,30,12
    CTEXT           "2730",IDC_GME_WRKL_9, 294,232,30,12
    CTEXT           "3210",IDC_GME_WRKL_10,325,232,30,12
    CTEXT           "3840",IDC_GME_WRKL_11,355,232,30,12
    CTEXT           "4530",IDC_GME_WRKL_12,386,232,30,12
    CTEXT           "5370",IDC_GME_WRKL_13,417,232,30,12
    CTEXT           "6360",IDC_GME_WRKL_14,448,232,30,12
    CTEXT           "7500",IDC_GME_WRKL_15,478,232,30,12

    CTEXT           "Idle", IDC_GME_IDL_TITLE, 1, 245, 15, 12

    EDITTEXT        IDC_GME_IDL_0,  20,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_1,  50,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_2,  80,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_3, 110,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_4, 141,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_5, 172,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_6, 202,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_7, 233,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_8, 263,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_9, 294,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_10,325,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_11,355,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_12,386,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_13,417,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_14,448,245,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_IDL_15,478,245,30,12,ES_AUTOHSCROLL

    CTEXT           "Tcorr", IDC_GME_TMP_TITLE, 1, 262, 17, 12

    EDITTEXT        IDC_GME_TMP_0,  20,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_1,  50,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_2,  80,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_3, 110,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_4, 141,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_5, 172,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_6, 202,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_7, 233,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_8, 263,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_9, 294,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_10,325,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_11,355,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_12,386,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_13,417,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_14,448,262,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_TMP_15,478,262,30,12,ES_AUTOHSCROLL

    CTEXT           "-30°",IDC_GME_TMPL_0,  20,275,30,12
    CTEXT           "-20°",IDC_GME_TMPL_1,  50,275,30,12
    CTEXT           "-10°",IDC_GME_TMPL_2,  80,275,30,12
    CTEXT           " 0° ",IDC_GME_TMPL_3, 110,275,30,12
    CTEXT           "10° ",IDC_GME_TMPL_4, 141,275,30,12
    CTEXT           "20° ",IDC_GME_TMPL_5, 172,275,30,12
    CTEXT           "30° ",IDC_GME_TMPL_6, 202,275,30,12
    CTEXT           "40° ",IDC_GME_TMPL_7, 233,275,30,12
    CTEXT           "50° ",IDC_GME_TMPL_8, 263,275,30,12
    CTEXT           "60° ",IDC_GME_TMPL_9, 294,275,30,12
    CTEXT           "70° ",IDC_GME_TMPL_10,325,275,30,12
    CTEXT           "80° ",IDC_GME_TMPL_11,355,275,30,12
    CTEXT           "90° ",IDC_GME_TMPL_12,386,275,30,12
    CTEXT           "100°",IDC_GME_TMPL_13,417,275,30,12
    CTEXT           "110°",IDC_GME_TMPL_14,448,275,30,12
    CTEXT           "120°",IDC_GME_TMPL_15,478,275,30,12

    CTEXT           "Start", IDC_GME_STR_TITLE, 1, 290, 18, 12

    EDITTEXT        IDC_GME_STR_0,  20,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_1,  50,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_2,  80,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_3, 110,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_4, 141,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_5, 172,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_6, 202,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_7, 233,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_8, 263,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_9, 294,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_10,325,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_11,355,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_12,386,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_13,417,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_14,448,290,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_GME_STR_15,478,290,30,12,ES_AUTOHSCROLL

    CTEXT           "200 ",IDC_GME_STRL_0,  20,303,30,12
    CTEXT           "240 ",IDC_GME_STRL_1,  50,303,30,12
    CTEXT           "280 ",IDC_GME_STRL_2,  80,303,30,12
    CTEXT           "320 ",IDC_GME_STRL_3, 110,303,30,12
    CTEXT           "360 ",IDC_GME_STRL_4, 141,303,30,12
    CTEXT           "400 ",IDC_GME_STRL_5, 172,303,30,12
    CTEXT           "440 ",IDC_GME_STRL_6, 202,303,30,12
    CTEXT           "480 ",IDC_GME_STRL_7, 233,303,30,12
    CTEXT           "520 ",IDC_GME_STRL_8, 263,303,30,12
    CTEXT           "560 ",IDC_GME_STRL_9, 294,303,30,12
    CTEXT           "600 ",IDC_GME_STRL_10,325,303,30,12
    CTEXT           "640 ",IDC_GME_STRL_11,355,303,30,12
    CTEXT           "680 ",IDC_GME_STRL_12,386,303,30,12
    CTEXT           "720 ",IDC_GME_STRL_13,417,303,30,12
    CTEXT           "760 ",IDC_GME_STRL_14,448,303,30,12
    CTEXT           "800 ",IDC_GME_STRL_15,478,303,30,12

    CTEXT           "Adv.ang.",IDC_GME_AA_CAPTION,18,320,35,10
    CTEXT           "Work",IDC_GME_WM_CAPTION,58,320,35,10
    CTEXT           "OctCorr",IDC_GME_OC_CAPTION,98,320,35,10
    CTEXT           "Tcorr",IDC_GME_TC_CAPTION,138,320,35,10
    CTEXT           "KSCorr",IDC_GME_KC_CAPTION,178,320,35,10
    CTEXT           "Idle",IDC_GME_IM_CAPTION,218,320,35,10
    CTEXT           "IdlReg",IDC_GME_IC_CAPTION,258,320,35,10

    CTEXT           "",IDC_GME_AA_VALUE,20,330,30,12, SS_SUNKEN
    CTEXT           "=",IDC_GME_AAE_TEXT,50,330,10,10
    CTEXT           "",IDC_GME_WM_VALUE,60,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_WMP_TEXT,90,330,10,10
    CTEXT           "",IDC_GME_OC_VALUE,100,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_OCP_TEXT,130,330,10,10
    CTEXT           "",IDC_GME_TC_VALUE,140,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_TCP_TEXT,170,330,10,10
    CTEXT           "",IDC_GME_KC_VALUE,180,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_KCP_TEXT,210,330,10,10
    CTEXT           "",IDC_GME_IM_VALUE,220,330,30,12, SS_SUNKEN
    CTEXT           "+",IDC_GME_IMP_TEXT,250,330,10,10
    CTEXT           "",IDC_GME_IC_VALUE,260,330,30,12, SS_SUNKEN
    LTEXT           "°",IDC_GME_AA_UNIT,291,330,10,10
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_CALC_UP             BITMAP     "calc_up.bmp"
IDB_CALC_DOWN           BITMAP     "calc_down.bmp"
IDB_CALC_FOCUSED        BITMAP     "calc_focused.bmp"
IDB_CALC_DISABLED       BITMAP     "calc_disabled.bmp"

IDB_GRID_UP             BITMAP     "grid_up.bmp"
IDB_GRID_DOWN           BITMAP     "grid_down.bmp"
IDB_GRID_FOCUSED        BITMAP     "grid_focused.bmp"
IDB_GRID_DISABLED       BITMAP     "grid_disabled.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAPS_RPM_UNIT       "Speed (min-1)"
    IDS_MAPS_ADVANGLE_UNIT  "Angle (degr.)"
    IDS_START_MAP           "Start angle map"
    IDS_IDLE_MAP            "Idle angle map"
    IDS_WORK_MAP            "Work angle map"
    IDS_TEMPCORR_MAP        "Coolant temperature angle's correction map"
    IDS_MAPS_TEMPERATURE_UNIT "Temperature °C"
    IDS_MAPS_ATTENUATOR_GAIN_UNIT "Gain factor constant"
    IDS_ATTENUATOR_MAP      "Tune attenuator curve of amplification"
    IDS_MAPS_VOLT_UNIT      "Volts (V)"
    IDS_MAPS_DWELLCNTRL_UNIT "Accumulation time (ms)"
    IDS_DWELLCNTRL_MAP      "Tune accumulation time of ignition coils"
    IDS_CTS_CURVE_MAP       "Tune coolant temperature sensor curve"
    IDS_TD_DWELL_CALC_BUTTON_TT "Calculate dwell control lookup table using coil's characteristics"
    IDS_TD_VIEW_DWELL_CONTROL_TT "Edit dwell control lookup table"
    IDS_CHOKE_OP_UNIT       "Choke closing (%)"
    IDS_CHOKE_OP_MAP        "Tune choke position as function of temperature"
    IDS_TD_RPM_GRID_BUTTON_TT "Alter RPM grid for afvance angle maps of idle and work modes."
END
